/* X-Large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) {
    
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}
@media screen and (min-width: 800px) and (max-width: 1280px) {
    .header-top-logo{
        .primary-main{
            .branding{
                .logo {
                    .brand-new{
                        max-width: 360px !important;
                    }
                }
            }
            .branding2{
                .appointment-btn{
                    .appointment{
                        width: 210px !important;
                        .button-icon{
                            font-size: 22px !important;
                        }
                        .text-appointment{
                            font-size: 12px !important;   
                        }
                    }
                }
            }
        }
    }
    .header-navigation {
        .header-utama{
            .second-main{
                .slogan{
                    h4 {
                        font-size: 18px !important;
                    }
                    p {
                        font-size: 12px !important;
                    }
                }
    
                .sticky-logo-branding{
                    .sticky-main{
                        .sticky-brand-new{
                            max-width: 250px;
                        }
                    }
                }
            }
        }

        .main-menu{
            ul > li.has-children > a:after {
                
                font-size: 14px !important;
            }
            
            ul {
                
                li {
                    > a {
                        font-size: 12px !important;
                    }
                }
    
                li:hover.has-children > a:after {
                    font-size: 12px !important;
                }
                
            }
        }
    }

    .navigasi-box{
        ul{
            li{
                min-width: 220px !important;
            }
        }
    }
}

/*XX-Large devices (larger desktops, 1400px and up)*/ 
@media only screen and (min-width: 1200px) and (max-width: 1800px) {
    .theme-page-header,
    .theme-header-one{
        .header-navigation{
            //.container {
                //padding-left: 15px;
                //padding-right: 15px;
            //}
        }
    }

    .header-navigation{
        .main-menu ul li > a {
            font-size: 14px;
            padding: 35px 11px;
        }

        .header-utama{
            .second-main{
                .slogan{
                    h4 {
                        font-size: 16px !important;
                    }
                    p {
                        font-size: 12px !important;
                    }
                }
    
                .sticky-logo-branding{
                    .sticky-main{
                        .sticky-brand-new{
                            max-width: 250px;
                        }
                    }
                }
            }
        }
    }

    .header-top-logo{
        .primary-main{
            .branding{
                .logo {
                    .brand-new{
                        max-width: 390px !important;
                    }
                }
            }
        }
    }

    .theme-page-header,
    .theme-header-one{
        .header-right-nav>ul>li{
            margin-left: 15px;
        }
    }
    
}
@media (max-width: 1199px) {
    .theme-page-header .header-navigation .container, 
    .theme-header-one .header-navigation .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .header-right-nav ul li.navbar-toggle-btn {
        display: inline-flex;
    }
    .header-right-nav ul li.nav-button{
        display: none;
    }
    .header-navigation.breakpoint-on {
        padding: 10px 0;
    }
    
    .footer-style-two .footer-widget .footer-nav-widget,
    .footer-style-one .footer-widget .footer-nav-widget,
    .footer-default .footer-widget .footer-nav-widget {
        padding-left: 0px;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header-navigation .main-menu ul > li.has-children > a:after {
        display: none;
    }

    .kawasan-slider{
        ol.carousel-indicators{
            li {
                height: 40px;
                margin: 0px 5px !important;
                .wrapper-box{
                    h4.title{
                        font-size: 16px;
                    }
                    span.area{
                        font-size: 24px !important;
                    }
                }
            }
        }
    }

}

@media (max-width: 991px) {
    .header-navigation .main-menu ul > li.has-children > a:after {
        display: none;
    }
    .header-top-bar .top-left {
        text-align: center;
    }
    .theme-header-one .header-top-bar .top-right {
        justify-content: center;
    }

    .theme-header-one {
        .header-top-logo{
            padding-top:0px !important;
            .primary-main{
                box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
                //box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
                .branding,
                .branding2{
                    display:none !important;
                }
                .branding3{
                    display:inline-flex!important
                }
            }
        }
    }

    .header-utama{
        .second-main{
            .slogan{
                display:none !important;
            }
            .sticky-main{
                display:block !important;
                justify-content:space-between !important;
                border-right: 0px !important;
                .sticky-logo-jiipe{
                    max-width: 95px !important;
                }
                .sticky-logo-sez{
                    max-width: 120px !important;
                }
            }
            
        }
    }

    
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    .theme-header-one {
        .header-top-logo{
            padding-top : 0px !important; 
            .primary-main{
                box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
                //box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
                .branding,
                .branding2{
                    display:none !important;
                }
                
                .branding3{
                    display:inline-flex!important
                }
            }
        }
    }

    .header-utama{
        .second-main{
            .slogan{
                display:none !important;
            }
            .sticky-main{
                display:block !important;
                justify-content:space-between !important;
                border-right: 0px !important;
                .sticky-logo-jiipe{
                    max-width: 95px !important;
                }
                .sticky-logo-sez{
                    max-width: 120px !important;
                }
            }
            
        }
    }
    
    .creative_contact_us{
        margin-bottom: 0px !important;
        a {
            text-decoration: underline;
            font-size: 12px !important;
            color: #31b7ea;
        }
        
    }

    .kawasan-slider{
        ol.carousel-indicators{
            li {
                height: 40px;
                margin: 0px 2px !important;
                .wrapper-box{
                    h4.title{
                        font-size: 14px;
                    }
                    span.area{
                        font-size: 18px !important;
                    }
                }
            }
        }
    }

    .navigasi-box{
        text-align: left !important;
        ul{
            width: 90%;
            margin: auto;
            columns: 2;
            -webkit-columns: 2;
            -moz-columns: 2;
            li{
                text-align: left !important;
                .sub-menu {
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
                    padding: 0 !important;
                    li {
                        padding: 0px !important;
                        display: block;
                        a.line{
                            border-right: none !important;
                            border-bottom: 2px solid #53565A !important;
        
                        }
                        .navigasi-body {
                            padding: 0px !important;
                            .icon{
                                margin: auto;
                                vertical-align: middle !important;
                                i{
                                    font-size: 25px;
                                }
                            }
                            .text{
                                margin: 5px !important;
                                text-align: left !important;
                                p{
                                    //line-height: 12px;
                                    margin-bottom: 0px !important;
                                    font-size: 9px;
                                }
                                h6{
                                    //line-height: 14px;
                                    font-weight: 500;
                                    margin-bottom: 0px !important;
                                }
                            }
                        }
                    }
                }
            }
            li:hover {
                
                > .sub-menu {
                    top: unset !important;
                }
            }

            .hashds {
                display: none !important;
            }
            .hashmb{
                display: block !important;
            }
        }
    }

    .thank_img{
        max-width: 200px !important;
    }
    .thank_title{
        
        font-size: 30px !important;
        line-height: 30px;
    }
    
    .thank_subtitle{
        font-size: 20px;
        line-height: 18px;
    }
    
    .thank_btn{
        padding-top: 80px !important;
        font-size: 24px;
    
    }
    .contact-images{
        background-image: url('../../images/business-handshake-two-men-dem@2x-mobile.png');
        padding: 30px 0 !important;
        h2 {
            font-size: 18px !important;
            line-height: 37px;
            text-align: left !important;
            margin-bottom: 5px !important;
        }
        p{
            text-align: left !important;
            font-size: 16px !important;
            line-height: 28px !important;
            br {
                display: none;
            }
        }
    }

    .homewrapper{
        .embed-responsive{
            min-height: 600px !important;
            .home-caption{
                width: 95%;
                h2.header{
                    font-size: 1em !important;
                    margin-bottom: 15px;
                }
                h2.title{
                    font-size: 1em !important;
                }
                p{
                    font-size: 12px;
                    margin-bottom: 10px;
                }

                ul.button{
                    padding: 0px !important;
                    li{
                        display: inline-block;
                        margin-right: 0px !important;
                    }
                    a.btn_slider {
                        font-size: 12px;
                        width: 150px;
                        height: 42px;
                        line-height: 42px;
                        margin-top: 5px !important;
                    }
                }    
            }
        }

        .images-items{
            min-height: 600px !important;
            .home-caption{
                width: 95%;
                h2.header{
                    font-size: 1em !important;
                    margin-bottom: 15px;
                }
                h2.title{
                    font-size: 1em !important;
                }
                p{
                    font-size: 12px;
                    margin-bottom: 10px;
                }

                ul.button{
                    padding: 0px !important;
                    li{
                        display: inline-block;
                        margin-right: 0px !important;
                    }
                    a.btn_slider {
                        font-size: 12px;
                        width: 150px;
                        height: 42px;
                        line-height: 42px;
                        margin-top: 5px !important;
                    }
                }    
            }
        }
    }

    
    .footer-images{
        background-image: url('../../images/call-telephone-communication-p@2x-mobile.png');
        padding: 50px 0 !important;
        h2 {
            font-weight: bold !important;
            font-size: 21px !important;
            line-height: 41px !important;
            text-align: left !important;
            margin-bottom: 5px !important;
        }
        p{
            text-align: left !important;
            font-weight: normal !important;
            font-size: 14px !important;
            line-height: 25px !important;
            br {
                display: none;
            }
        }
    }

    .footer-text{
        padding: 25px 0 !important;
        h2 {
            font-weight: bold !important;
            font-size: 22px !important;
            line-height: 23px !important;
            text-align: left !important;
            margin-bottom: 5px !important;
        }
        p{
            text-align: left !important;
            font-weight: normal !important;
            font-size: 14px !important;
            line-height: 15px !important;
            br {
                display: none;
            }
        }
    }

    .footer-widget-new,
    .footer-widget{
        padding: 15px 0 !important;
        .widget{
            margin-top: 15px !important;
            .line {
                width: 100% !important;
            }
            .hashds {
                display: none !important;
                margin-bottom:0 !important;
            }
            .hashmb{
                display: block !important;
                margin-bottom:0 !important;
            }
        }
        .widget.quick-link{
            text-align: center !important;
            .icon-media{
                position: unset !important;
            }

            
        }
        .garis-lurus-left {
            border-left: none !important
        }

        .garis-lurus-right {
            border-right: none !important
        }
    }
    .contact-form{
        h5{
            font-size: 14px !important;
            br {
                display: none !important;
            }
        }
        .garis-lurus-left {
            border-left: none !important;
        }
    
        .garis-lurus-right {
            border-right: none !important;
        }
    }
    .contact-images{
        background-image: url('../../images/business-handshake-two-men-dem@2x-mobile.png');
        padding: 30px 0 !important;
        h2 {
            font-size: 18px !important;
            line-height: 37px;
            text-align: left !important;
            margin-bottom: 5px !important;
        }
        p{
            text-align: left !important;
            font-size: 16px !important;
            line-height: 28px !important;
            br {
                display: none;
            }
        }
    }

    .jiipe-main-header{
        font-weight: bold;
        font-size: 22px;
        line-height: 37px;
        text-align: center;
        color: #53565a;
    }

    .jiipe-main-red{
        color: #DA291C !important;
    
    }

    .jiipe-main-putih{
        color: #fff !important;
    }

    .jiipe-blog{
        margin-top: 15px !important;
        .judul {
            font-size: 12px !important;
        }
        .items .active {
            h5 {
                font-size: 12px !important;
            }
        }
    }
    .faq-jippe{
        //margin-top: 15px !important;
        
        .faq-accordian{
            padding: 0px !important;
            .card-body{
                font-weight: 500;
                font-size: 12px !important;
                line-height: 26px;
                
            }
        }
    }

    .video-slider{
        .owl-carousel .owl-dots{
            bottom: -8%;
        }
    }

    .comment-jiipe{
        margin-top: 15px !important;
        .owl-carousel .owl-dots{
            bottom: 10%;
        }
        .testimonial-list{
            .card{
                .card-body{
                    //height: 250px !important;
                }

                .card-footer{
                    transform: translateY(-30%) !important;
                }
            }
        }
    }

    .profile-jiipe{
        .jiipe-content{
            .jiipe-top{
                h1{
                    font-size: 21px !important;
                    line-height: 37px !important;
                }
            }
        }
    }
        
}

@media (max-width: 767px){
    
    .creative_contact_us{
        margin-bottom: 0px !important;
        a {
            text-decoration: underline;
            font-size: 12px !important;
            color: #31b7ea;
        }
        
    }

    .theme-header-one {
        .header-top-bar {
            .top-right{
                flex-direction: column;
                .bahasa {
                    display: none !important;
                }
                .lang-mobile{
                    display: block !important;
                }
            }
        }
    }
    
    .footer-copyright .text,
    .footer-copyright ul.social-link{
        width: 100% !important;
        padding-left: 0 !important;
        text-align: center;
    }
    .footer-copyright .social-link {
        margin-top: 10px;
    }
    .footer-copyright .social-link li {
        margin-left: 10px;
        margin-right: 10px;
    }

    
    .footer-copyright .icon-media{
        width: 100% !important;
        text-align: center;
    }

    .homewrapper{
        .embed-responsive{
            min-height: 600px !important;
            .home-caption{
                width: 95%;
                h2.header{
                    font-size: 1em !important;
                    margin-bottom: 15px;
                }
                h2.title{
                    font-size: 1em !important;
                }
                p{
                    font-size: 12px;
                    margin-bottom: 10px;
                }

                ul.button{
                    padding: 0px !important;
                    li{
                        display: inline-block;
                        margin-right: 0px !important;
                    }
                    a.btn_slider {
                        font-size: 12px;
                        width: 150px;
                        height: 42px;
                        line-height: 42px;
                        margin-top: 5px !important;
                    }
                }    
            }
        }

        .images-items{
            min-height: 600px !important;
            .home-caption{
                width: 95%;
                h2.header{
                    font-size: 1em !important;
                    margin-bottom: 15px;
                }
                h2.title{
                    font-size: 1em !important;
                }
                p{
                    font-size: 12px;
                    margin-bottom: 10px;
                }

                ul.button{
                    padding: 0px !important;
                    li{
                        display: inline-block;
                        margin-right: 0px !important;
                    }
                    a.btn_slider {
                        font-size: 12px;
                        width: 150px;
                        height: 42px;
                        line-height: 42px;
                        margin-top: 5px !important;
                    }
                }    
            }
        }
    }


    .footer-images{
        background-image: url('../../images/call-telephone-communication-p@2x-mobile.png');
        padding: 50px 0 !important;
        h2 {
            font-weight: bold !important;
            font-size: 22px !important;
            line-height: 41px !important;
            text-align: left !important;
            margin-bottom: 5px !important;
        }
        p{
            text-align: left !important;
            font-weight: normal !important;
            font-size: 14px !important;
            line-height: 25px !important;
            br {
                display: none;
            }
        }
    }

    .footer-text{
        padding: 30px 0 !important;
        h2 {
            font-weight: bold !important;
            font-size: 22px !important;
            line-height: 23px !important;
            text-align: left !important;
            margin-bottom: 5px !important;
        }
        p{
            text-align: left !important;
            font-weight: normal !important;
            font-size: 14px !important;
            line-height: 15px !important;
            br {
                display: none;
            }
        }
    }

    .footer-widget-new,
    .footer-widget{
        padding: 15px 0 !important;
        .widget{
            margin-top: 15px !important;
            .line {
                width: 100% !important;
            }

            .hashds {
                display: none !important;
                margin-bottom:0 !important;
            }
            .hashmb{
                display: block !important;
                margin-bottom:0 !important;
            }
        }
        .widget.quick-link{
            text-align: center !important;
            .icon-media{
                position: unset !important;
            }
            
        }
        .garis-lurus-left {
            border-left: none !important
        }

        .garis-lurus-right {
            border-right: none !important
        }
    }

    .footer-widget-new{
        .widget.quick-link{
            text-align: left !important;
            .icon-media{
                position: unset !important;
            }
            
        }
    }

    .kawasan-slider{
        ol.carousel-indicators{
            flex-direction: column !important;
            li {
                height: 40px;
                margin: 0px !important;
                .wrapper-box{
                    h4.title{
                        font-size: 16px;
                    }
                    span.area{
                        font-size: 24px !important;
                    }
                }
            }
        }
    }

    .navigasi-box{
        ul{
            padding: 10px 0 !important;
            li{
                line-height: 0px !important;
                width: 100% !important;
                max-width: unset !important;
                margin: auto;
                .navigasi-body{
                    padding: 10px !important;
                    .text{
                        text-align: center !important;
                    }
                }
                .sub-menu {
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
                    padding: 0 !important;
                    li {
                        padding: 0px !important;
                        display: block;
                        a.line{
                            border-right: none !important;
                            border-bottom: 2px solid #53565A !important;
        
                        }
                        .navigasi-body {
                            padding: 0px !important;
                            .icon{
                                margin: auto;
                                vertical-align: middle !important;
                                i{
                                    font-size: 25px;
                                }
                            }
                            .text{
                                margin: 5px !important;
                                text-align: left !important;
                                p{
                                    //line-height: 12px;
                                    margin-bottom: 0px !important;
                                    font-size: 9px;
                                }
                                h6{
                                    //line-height: 14px;
                                    font-weight: 500;
                                    margin-bottom: 0px !important;
                                }
                            }
                        }
                    }
                }
            }
            li:hover {
                > .sub-menu {
                    top: unset !important;
                }
            }

            .hashds {
                display: none !important;
            }
            .hashmb{
                display: block !important;
            }
        }
    }

    .thank_img{
        max-width: 150px !important;
    }

    .thank_title{
        
        font-size: 22px;
        line-height: 22px;
    }
    
    .thank_subtitle{
        font-size: 14px;
        line-height: 18px;
    }
    
    .thank_btn{
        padding-top: 80px !important;
        font-size: 20px;
    
    }

    .jiipe-main-header{
        font-weight: bold;
        font-size: 22px;
        line-height: 37px;
        text-align: center;
        color: #53565a;
    }

    .jiipe-main-red{
        color: #DA291C !important;
    
    }

    .jiipe-main-putih{
        color: #fff !important;
    }

    .contact-form{
        h5{
            font-size: 14px !important;
            br {
                display: none !important;
            }
        }
        .garis-lurus-left {
            border-left: none !important;
        }
    
        .garis-lurus-right {
            border-right: none !important;
        }
    }
    .contact-images{
        background-image: url('../../images/business-handshake-two-men-dem@2x-mobile.png');
        padding: 30px 0 !important;
        h2 {
            font-size: 18px !important;
            line-height: 37px;
            text-align: left !important;
            margin-bottom: 5px !important;
        }
        p{
            text-align: left !important;
            font-size: 16px !important;
            line-height: 28px !important;
            br {
                display: none;
            }
        }
    }

    .video-jiipe{
        padding-left: 1px;
        padding-right: 1px;
        background: transparent;
        .embed-responsive{
            //min-height: 350px !important;
        }
        .patner-items{
            img{
                max-height: 50px !important;
            }
        }
    }
    .jiipe-blog{
        margin-top: 25px !important;
        .judul {
            font-size: 12px !important;
        }
        .items .active {
            h5 {
                font-size: 12px !important;
            }
        }
    }

    .faq-jippe{
        //margin-top: 25px !important;
        
        .faq-accordian{
            padding: 0px !important;
            .card-body{
                font-weight: 500;
                font-size: 12px !important;
                line-height: 26px;
                
            }
        }
    }

    .comment-jiipe{
        margin-top: 25px !important;
        
        .owl-carousel .owl-dots{
            bottom: 10%;
        }
        .testimonial-list{
            .card{
                .card-body{
                    //height: 420px !important;
                }

                .card-footer{
                    transform: translateY(-30%) !important;
                }
            }
        }
    }

    .video-slider{
        .owl-carousel .owl-dots{
            bottom: -10%;
        }
    }

    .profile-jiipe{
        .jiipe-content{
            .jiipe-top{
                h1{
                    font-size: 21px !important;
                    line-height: 37px !important;
                }
            }
        }
    }

    
}

@media (max-width: 400px){
    .theme-header-one {
        .header-top-bar {
            .top-right{
                font-size: 12px;
            }
        }

        .header-top-logo{
            padding-top : 0px !important; 
            .primary-main{
                box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
                //box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
                .branding,
                .branding2{
                    display:none !important;
                }
                .branding3{
                    display:inline-flex!important
                }
            }
        }
    }

    .header-utama{
        .second-main{
            .slogan{
                display:none !important;
            }
            .sticky-main{
                display:block !important;
                justify-content:space-between !important;
                border-right: 0px !important;
                .sticky-logo-jiipe{
                    max-width: 80px !important;
                }
                .sticky-logo-sez{
                    max-width: 100px !important;
                }
            }
            
        }
    }

    .site-branding{

        .main_logo{
            justify-content:space-between !important;
            border-right: 0px !important;
            .brand-logo-jiipe{
                max-width: 80px !important;
            }
            .brand-logo-sez{
                max-width: 100px !important;
            }
        }
        .second_logo{
            display: none !important;
            .brand-logo_akr{
                max-width: 60px;
            }
            .brand-logo_pelindo{
                max-width: 90px !important;
            }
        }
    }

    .comment-jiipe{
        margin-top: 25px !important;
        
        .owl-carousel .owl-dots{
            bottom: 10%;
        }
        .testimonial-list{
            .card{
                .card-body{
                    //height: 500px !important;
                }

                .card-footer{
                    transform: translateY(-30%) !important;
                }
            }
        }
    }

    .video-slider{
        .owl-carousel .owl-dots{
            bottom: -10%;
        }
    }
    
    .artikel-berita-atas{
        h2{
            font-size: 20px !important;
        }
    }
    
}
@media only screen and (min-width: 415px) and (max-width: 767px) {
    
    .site-branding{
        .main_logo{
            justify-content:space-between !important;
            border-right: 0px !important;
            .brand-logo-jiipe{
                max-width: 80px !important;
            }
            .brand-logo-sez{
                max-width: 100px !important;
            }
        }
        .second_logo{
            display: none !important;
            .brand-logo_akr{
                max-width: 50px;
            }
            .brand-logo_pelindo{
                max-width: 90px !important;
            }
        }
    }

    .navigasi-box{
        ul{
            padding: 10px 0 !important;
            li{
                line-height: 0px !important;
                .navigasi-body{
                    padding: 10px !important;
                    .text{
                        text-align: center !important;
                    }
                }
            }
        }
    }
    .comment-jiipe{
        margin-top: 25px !important;
        
        .owl-carousel .owl-dots{
            bottom: 10%;
        }
        .testimonial-list{
            .card{
                .card-body{
                    //min-height: 300px !important;
                }

                .card-footer{
                    transform: translateY(-30%) !important;
                }
            }
        }
    }

    .video-slider{
        .owl-carousel .owl-dots{
            bottom: -10%;
        }
    }

    .artikel-berita-atas{
        h2{
            font-size: 20px !important;
        }
    }
}