
.footer-images{
    background-image: url('../../images/call-telephone-communication-p.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-style: normal;
    font-weight: normal;
    padding : 60px 0 !important;

    h2 {
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 30px;
    }
    p{
        text-align: center;
        font-size: 22px;
        letter-spacing: 1px;
        line-height: 38px;
    }
}


.footer-text{
    background: #53565A 0% 0% no-repeat padding-box;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-style: normal;
    font-weight: normal;
    padding : 60px 0 !important;

    h2 {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 15px;
    }
    p{
        font-size: 22px;
        line-height: 23px;
    }
}


.footer-copyright{
    font-family: 'Montserrat', sans-serif;
    color: rgba(145,145,145,1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    padding: 10px 0 10px 0;
    background-color: #ffffff;
    
    .text{
        text-align: left;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 12px;
        color: #bcbcbc;
        display: inline-block;
        top: 6px;
        padding-left: 10px;

        a{
            color: rgba(145,145,145,1);
            text-decoration: none;
        }
        p{
            margin-bottom: 0.5em !important;
        }
    }
    
    .icon-media{
        display: inline-block;
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        color: #ffffff !important;
        font-size: 12px;
        padding-left: 10px !important;
        padding-right: 10px !important;
        p{
            margin-bottom: 0.5em !important;
        }
        ul.social-link {
            margin-top: 0px !important;
            padding-left: 0px !important;
            li{
                padding-top: 3px !important;
            }
            [class*="fa-"]{
                font-size: 1.8em !important;
            }
        }

    }

    ul.social-link {
        margin-top: 15px !important;
        li{
            display: inline-block;
            text-decoration: none;
            list-style: none;
            margin-left: 10px;
            padding-top: 10px !important;
            line-height: 1.6em;
        }

        [class*="fa-"]{
            font-size: 1.6em;
        }

        .linked{
            color: #0076b4;
        }
        .facebook{
            color: #395a9a;
        }
        .youtube{
            color: #fe0000;
        }
        .instagram{
            color: #d6005d;
        }
    }
}

.footer-copyright-red{
    background-color: #DA291C !important;
    
    .text{
        a{
            color: #ffffff !important;
        }
        p{
            padding-top: 6px !important;
        }
        color: #ffffff !important;
    }

    [class*="fa-"]{
        color: #ffffff !important;
    }

}

.footer-widget{
    background: #000000 0% 0% no-repeat padding-box;
    font-family: 'Montserrat', sans-serif;
    padding: 100px 0;
    .widget {
        ul.widget-menu {
            padding-left: 0 !important;
            li {
                
                list-style: none;
            }
            a{
                margin-bottom: 10px;
                text-decoration: none;
                color: #ffffff !important;
            }
        }
        h4.widget-title{
            position: relative;
            letter-spacing: -0.03em;
            text-transform:uppercase;
            font-size: 19px;
            font-weight: bold;
            font-family: 'Montserrat', sans-serif;
            color: #ffffff !important;
            margin-bottom: 10px !important;
            line-height: 2;
        }
        .text-underline{
            text-decoration: underline;
        }

        .line {
             
            /* Increase this as per requirement */
            padding-bottom: 5px;
            border-bottom-style: solid;
            border-bottom-width: 3.1px;
            width: fit-content;
        }

        .widget-office{
            font-family: 'Montserrat', sans-serif;
            color: #ffffff;
            p{
                margin-bottom: 4px !important;
            }
            .title {
                font-size: 16px;
                font-weight: bold;
                margin-bottom: 4px !important;
            }
            .alamat {
                font-weight: 400;
                padding-top: 6px;
                margin-bottom: 4px !important;
            }
            .telp{
                font-weight: 400;
                padding-top: 10px;
                margin: 0;
            }
        }
        .widget-map-box iframe{
            display: inherit;
            border: none;
            width: 100%;
            height: 200px;
        }

        .widget-map-box2 iframe{
            display: inherit;
            border: none;
            width: 100%;
            height: 200px;
        }        
    }
    .garis-lurus-left {
        border-left: #fff solid 1px !important;
    }

    .garis-lurus-right {
        border-right: #fff solid 1px !important;
    }

    
  
}

.footer-widget-new {
    background: #53565A 0% 0% no-repeat padding-box;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 35px !important;
    .widget {
        ul.widget-menu {
            padding-left: 0 !important;
            width: fit-content;
            li {
                
                list-style: none;
                padding-top: 8px;
                padding-bottom: 8px;
                border-bottom: #dcddde 1.5px solid;
                padding-right: 15px !important;
                
            }
            a{
                margin-bottom: 10px;
                text-decoration: none;
                color: #ffffff !important;
            }

            a:hover{
                color: #e2231a !important;
            }
        }
        h4.widget-title{
            position: relative;
            letter-spacing: -0.03em;
            text-transform:uppercase;
            font-size: 19px;
            font-weight: bold;
            font-family: 'Montserrat', sans-serif;
            color: #ffffff !important;
            margin-bottom: 10px !important;
            line-height: 2;
        }
        .text-underline{
            text-decoration: underline;
        }

        .line {
             
            /* Increase this as per requirement */
            padding-bottom: 5px;
            border-bottom-style: solid;
            border-bottom-width: 3.1px;
            width: fit-content;
        }

        .widget-office{
            font-family: 'Montserrat', sans-serif;
            color: #ffffff;
            p{
                margin-bottom: 4px !important;
            }
            .title {
                font-size: 16px;
                font-weight: bold;
                margin-bottom: 4px !important;
            }
            .alamat {
                font-weight: 400;
                padding-top: 6px;
                margin-bottom: 4px !important;
            }
            .telp{
                font-weight: 400;
                padding-top: 10px;
                margin: 0;
            }
        }
        .widget-map-box {
            bottom: 0px;
            iframe{
                display: inherit;
                border: none;
                width: 100%;
                height: 200px;
            }
        }
        .widget-map-box2 iframe{
            display: inherit;
            border: none;
            width: 100%;
            height: 200px;
        }


        .icon-media{
            display: inline-block;
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
            color: #ffffff !important;
            position: absolute;
            bottom: 0px;
            p{
                margin-bottom: 0.5em !important;
            }
            ul.social-link {
                margin-top: 0px !important;
                margin-bottom: 0px !important;
                padding-left: 0px !important;
                li{
                    padding-top: 3px !important;
                }
                [class*="fa-"]{
                    font-size: 1.8em !important;
                }
            }
    
        }
    
        ul.social-link {
            margin-top: 15px !important;
            li{
                display: inline-block;
                text-decoration: none;
                list-style: none;
                margin-right: 10px;
                padding-top: 10px !important;
                line-height: 1.6em;
            }
    
            [class*="fa-"]{
                font-size: 1.6em;
            }

            
        }

    }
    .garis-lurus-left {
        border-left: #fff solid 1px !important;
    }

    .garis-lurus-right {
        border-right: #fff solid 1px !important;
    }
  
}

/*
    Start scroll_up css
*/
.back-to-top {
    background: #000000;
    //border-radius: 50%;
    bottom: 0px;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 20px;
    width: 38px;
    height: 38px;
    line-height: 38px;
    position: fixed;
    right: 10px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    z-index: 999999999;
}
.back-to-top:hover, 
.back-to-top:focus {
    background: #000000;
    color: #fff;
}


.btn-whatsapp-pulse {
	background: #25d366;
	color: white;
	position: fixed;
	font-size: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 0;
	height: 0;
	padding: 25px;
	text-decoration: none !important;
	border-radius: 50%;
	animation-name: pulse;
	animation-duration: 1.5s;
	animation-timing-function: ease-out;
	animation-iteration-count: infinite;
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.5);
	}
	80% {
		box-shadow: 0 0 0 14px rgba(37, 211, 102, 0);
	}
}

.btn-whatsapp-pulse-border {
	bottom: 100px;
	right: 10px;
	animation-play-state: paused;
    text-decoration: none !important;
    z-index: 999999999;
}

.btn-whatsapp-pulse-border::before {
	content: "";
	position: absolute;
	border-radius: 50%;
	padding: 25px;
	border: 5px solid #25d366;
	opacity: 0.75;
	animation-name: pulse-border;
	animation-duration: 1.5s;
	animation-timing-function: ease-out;
	animation-iteration-count: infinite;
}

@keyframes pulse-border {
	0% {
		padding: 25px;
		opacity: 0.75;
	}
	75% {
		padding: 50px;
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

label.error {
    font-weight: 800;
    font-size: 13px;
    display: block;
    margin-top: 5px;
    color: #fb483a;
}

.form-line.error {
    &:after {
        border-bottom: 2px solid #fb483a;
    }
}
