.profile-jiipe{
    
    font-family: 'Montserrat', sans-serif;
    .jiipe-images {
        img{
            display: block;
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
        }
    }
    .jiipe-content{
        display: flex;
        flex-direction: column;
        .jiipe-top{
            h1{
                font-weight: bold;
                font-size: 35px;
                line-height: 60px;
                color: #53565a;
            }
            p{
                font-weight: 400;
                font-size: 16px;
                line-height: 30px;
                color: #707070;
            }
            ul.button{
                margin-top: 50px !important;
                padding-left: 0px !important;
                list-style: none;
                li{
                    display: inline-block;
                    margin-right: 20px;
                    a{
                        color: #dd4237;
                        font-size: 16px;
                        font-weight: 500;
                        text-decoration: none;
                        i{
                            color: #dd4237;
                            font-size: 16px;
                        }
                    }
                    a:focus,
                    a:hover{
                        color: #b0342c;
                    }
                }
            }
        }
        
        .jiipe-top-red{
            color: #DA291C !important;
        }
    }
}