.video-jiipe{
    .embed-responsive{
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        video {
            /** Simulationg background-size: cover */
            position: relative;
            object-fit: cover;
            height: 100%;
            width: 100%;
            //z-index: -1;
        }
    }
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    .patner-items{
        img{
            max-height: 75px !important;
        }
        .img-thumbnail{
            border: none !important;
            border-radius: none !important;
        }
    }
}

