.jiipe-blog {
  font-family: 'Montserrat', sans-serif;
}
.jiipe-blog .main-header {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 40px;
  line-height: 72px;
  text-align: center;
  color: #53565a;
}
.jiipe-blog .items img {
  position: relative;
  display: block;
}
.jiipe-blog .items .judul a {
  text-decoration: none !important;
}
.jiipe-blog .items .judul h5 {
  margin-bottom: 0;
  overflow: hidden;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: #53565a;
}
.jiipe-blog .items .lebih a {
  text-decoration: none;
  color: #da291c !important;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
}
.jiipe-blog .items .active .judul h5 {
  font-size: 20px !important;
}
