header.header.homepages{
	// width: 100%;
	// top: 0px;
	// position: fixed !important; 
}

header.header{
	background-color: #fff;
	// min-height: 119px; height: 119px;
	height: auto;
	// border-bottom: 1px solid #ccc;
	.block-inner-logo-main{

		.blocks_menu_heads_left{
			img{} span{
				padding-left: 15px;
				font-size: 15px; font-weight: 400; color: #986037;
			}
			a:focus,
			a:hover{
				text-decoration: none;
				span{
					text-decoration: none;
				}
			}
		}
		.logo-heads{
			a{

			}
			a:hover{
				opacity: 0.95;
			}
		}
		clear: both;
	}

	.container{
		position: relative;
	}
	.menu-headers{
		padding-top: 1.2em;
		ul{
			list-style: none;
			padding: 0;
			li{
				padding: 0 7.5px;
				a{
					font-size: 14px; font-weight: 700; color: #7f7f7f;
				}
			}
			li:hover,
			li:focus,
			li.active{
				a{
					text-decoration: none;
				}
			}
		}
	}
	// border-bottom: 1px solid #ccc;
	clear: both;
}
.logo-headers{
	position: absolute;
	top: -10px; z-index: 2;
	left: 0px;
	a{
		max-width: 232px; display: block;
	}
}

// .menu-header{
// 	padding-top: 70px;
// 	margin-bottom: 40px;
// 	ul.list-unstyled.list-inline{
// 		float: right;
// 		margin: 0 -10px;
// 		li.list-inline-item{
// 			font-family: @roboto;
// 			font-weight: 700;
// 			color: #fff;
// 			font-size: 11px;
// 			margin: 0 7px;
// 			a{
// 				color: #fff;
// 			}
// 			a:hover{
// 				color: #999;
// 				text-decoration: none;
// 			}
// 		}
// 	}
// }