@color_red: #d52827;

.block-sliders-coverKawasan{
	position: relative;
	#carouselKawasan.carousel{
		.carousel-inner{

		}
	}

	.blocks_inner_bottominfo{
		margin: 0; padding: 0;
		
		position: absolute;
		bottom: 0px; left: 0px;
		z-index: 1000;
		width: 100%;
		padding-bottom: 0.3rem;
		.in_block:hover,
		.in_block:focus,
		.in_block.active{
			cursor: pointer;
			span{
				color: #fff !important;
			}
			border-bottom-color: #fff !important;
		}
		.in_block{
			span{
				display: block;
				margin: 0; padding: 0; line-height: 1;
			}
			text-align: right;
			margin-left: 0.7rem;
			margin-right: 0.7rem;
			padding-bottom: 0.25rem;
			border-bottom: 5px solid #db7373;
			margin-bottom: 0.5rem;
			span.lefts_nm{
				float: left; 
				display: inline-block; 
				text-align: left; 
				vertical-align: bottom;
				// font-size: 22px;
				font-size: 18px;
				font-weight: 700; color: #db7373;
				padding-top: 0.9rem;
			}
			span.luas{
				float: right; 
				display: inline-block; 
				text-align: right; 
				vertical-align: bottom;
				// font-size: 38px;
				font-size: 35px; 
				font-weight: 700; color: #db7373;
				small{
					font-size: 22px;
				}
			}
			clear: both;			
		}
	}
}

.leftsn_menu{
	margin: 0;padding: 0;
	ul{
		margin: 0; padding: 0;
		margin-left: 26px;
		list-style-image: url('../images/styles-chevlist.png');
		li{
			padding: 0.2rem 0;
			a{
				font-size: 16px; font-weight: 500; color: #585858;
			}
		}
		li.active,
		li:hover,
		li:focus{
			a{
				 text-decoration: none;
				 color: #d52827;
			}
		}
	}
}

hr.artikel-brosur{
	padding-bottom: 45px;
}

section.profil-sec-4 .prelative.container .row .row.sec-4.industry {
	.content{
		p{
			padding-bottom: 0.1rem !important;
			font-size: 15px; font-weight: 400; color: #000;
		}
	}
}
section.home-sec-4.slc_white_footjiipe span.title-pdf{
	min-height: 59px; display: block; height: auto;
}
section.home-sec-4 .prelative.container .row .download span{
	padding-top: 0.9rem;
}
section.industri_jippe1-sec-3 .prelative.container .row .title p{
	line-height: 1.1;
}
section.industri_jippe1-sec-3 .prelative.container .row .content{
	height: auto;
}
section.industri_jippe1-sec-3 .prelative.container .row .content p{
	line-height: 1.3;
	margin-bottom: 1.4rem;
}

.lists_profil_industry{
	.items{
		padding-bottom: 2.3rem;
		.content{
			p{
				line-height: 1.4;
				margin-bottom: 1.02rem;  
				padding-bottom: 0.1rem!important
			}
		}
	}
}

.blocks_mobile_language{
.sn_text_lang{
    font-size: 14px; font-weight: 500; color: #000;

    a{
      display:inline-block;
      font-size: 14px; font-weight: 500; color: #000;
      text-transform: uppercase;
      transition: font-weight .3s;
    }
    a.active,
    a:hover,
    a:focus{
      font-weight: 700; 
      text-decoration: none;
      color: #ff3329;
    }

    a::after {
        display: inline-block;
        width: 0; 
        height: 0;
        content: attr(title);
        font-weight: bold;
        overflow: hidden;
        visibility: hidden;
    }
  }
  clear: both;
}

.lists_news_blog .items .judul,
section.blog-sec-1 .prelative.container .row.artikel .judul{
	p{
		height: 52px; overflow: hidden;
	} 
}
section.blog-sec-1.insides_page .prelative.container .row.artikel.lists_news_blog{
	padding-bottom: 0;
}
.lists_news_blog{
	 .col-md-20{
		.items{
			// padding: 0 12.5px;
			.tanggal{
				margin-top: 0 !important;
			}
			padding-bottom: 2rem;
			.lebih a p{
				padding-bottom: 0 !important;
			}
			clear: both;
		}
	}
}


.Rights_artikels_pagedetails{
	.row.tanggal{
		padding-top: 2.5rem;
		.back{
			text-align: left !important;
			img.back-img{
				margin-top: 0px !important;
				top: inherit !important; 
				left: inherit !important;
				display: inline-block !important;
			}
			span{
				display: inline-block !important;
			}
		}
	}
}
.blocks_listgallery{
	.items{
		margin-bottom: 3.5rem;
		.judul{
			padding-top: 30px !important;
		}
		.tanggal{
			p{
				margin-bottom: 1.5rem;
			}
		}
	}
}

.blocks_listgallery.download_brochures{
	.items{
		.sn_icon{}
		.infosn_title{
			span{
				color: #000;
				font-size: 16px; font-weight: 400;
			}
			a{
				color: #000;
			}
		}
		.links_ndownload{
			font-size: 18px; font-weight: 400;
		}
		a{
			color: #000;
		}
		a:hover,
		a:focus{
			text-decoration: none; color: #d52827;
		}
	}
}
.ints_tophektar{
	padding-top: 275px;
}

.lefts_logo{
	.block-logo-main{
		a.lgo_jiipe{
			max-width: 105px; display: block;
		}
	}
	.right-snbrand{
		ul{
			li.pelindo{
				display: inline-block;
				max-width: 130px; margin-right: 1.1rem !important; 
			}
			li.akr{
				display: inline-block;
				max-width: 95px;
			}
		}
	}
}
.lgo_jiipe.navbar-brand{
	max-width: 80px; display: block;
}
section.industri_jiipe1-sec-5 .prelative.container .row .judul p{
	line-height: 1.4;
}

.nlists_block_kunggulan{
	.items{
		.pictures{
			span.names_ap{
				position: absolute;
				bottom: 0px;
				left: 0px;
				z-index: 5;
				font-size: 20px; font-weight: 600; color: #fff;
				line-height: 1.25;
				padding-left: 0.85rem;
				padding-bottom: 0.85rem;
				display: inline-block;
				vertical-align: top; width: 100%;
			}
			position: relative;
			z-index: 2;
		}
	}
	clear: both;
}

.lines-grey2{
	height: 1px; 
	background-color: rgba(204,204,204, 0.5);
}

.box-form.tl-contact-form.careerForm{
    // max-width: 665px;
    background-color: transparent;
    p{
        margin: 0; padding: 0;
        font-size: 15px; font-weight: 400; color: #000;
        margin-bottom: 20px; line-height: 1.3;
    }
    form{
    text-align: left;
      .form-group{ 
        margin-bottom: 28px;
        label,
        label.exampleInputMessage,
        label.exampleInputName{
            display: block;
            font-size: 12px; font-weight: 700; color: #777777;
            margin-bottom: 0px; text-align: left; text-transform: uppercase;
        }
        input[type=file]{
            padding: 8px 10px;
            height: auto;
        }

        select.form-control,
        input[type=text]{
          border:0px;
          
          background: none; 
          background-color: #fff;
          border-radius: 0px;
          text-shadow:none; box-shadow: none;
          font-size: 13px;  text-align: left;
          font-weight: 400; color: #000;
          // max-width: 300px;
          border-bottom: 1px solid #cacaca;
          height: 30px;
          width: 100%;
        }
        textarea{
            margin: 0; border: 0px;
            background: none;
            background-color: #fff;
            border: 0px;
            box-shadow: none;
            border-radius: 0px;
            border-bottom: 1px solid #cacaca;
            font-size: 13px;  text-align: left;
          font-weight: 400; color: #000;
        }
      }

      button.btns-submit-bt{
        background: none; background-color: transparent; border-radius: 0px; border: 0px;
        box-shadow: none; padding: 0;

        display: block;
        background-color: #d22c12; height: 39px; line-height: 39px; max-width: 377px; width: auto;
        font-size: 14px; font-weight: 700; color: #fff; text-transform: uppercase;
        padding-left: 60px; padding-right: 60px;
      }

      button.btns-submit-bt:hover{
        background-color: #d22c12; color: #fff; opacity: 0.95;
      }
    }

    .mb15{
        margin-bottom: 15px !important;
    }
    ::-webkit-input-placeholder {
       color: #636368;
    }

    :-moz-placeholder { /* Firefox 18- */
       color: #636368;  
    }

    ::-moz-placeholder {  /* Firefox 19+ */
       color: #636368;  
    }

    :-ms-input-placeholder {  
       color: #636368;  
    }
  }

.prelative{
	position: relative;
}
.alert,
.alert.alert-danger{
	ul{
		margin-bottom: 0;
		li{
			font-size: 0.85rem;
		}
	}
}
.alert.alert-success.fade{
	opacity: 1 !important;
	display: block !important;
}

.carousel-fade .carousel-item {
 opacity: 0;
 transition-duration: 1.2s;
 transition-property: opacity;
}
.carousel-fade  .carousel-item.active,
.carousel-fade  .carousel-item-next.carousel-item-left,
.carousel-fade  .carousel-item-prev.carousel-item-right {
  opacity: 1;
}
.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-right {
 opacity: 0;
}
.carousel-fade  .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-prev {
 transform: translateX(0);
 transform: translate3d(0, 0, 0);
}