.lefts_logo .right-snbrand ul li.akr{
	max-width: 40px;
}
/*----------------- Responsive ---------------------*/
@media (min-width: 1620px){
	
	.ints_tophektar{
		padding-top: 205px;
	}

}

@media (max-width: 1620px){

}

@media screen and (max-width: 1280px) , screen and (max-width: 1450px) {

	.prelative.container, .container{
		max-width: 100%;
		padding: 0 30px;
	}

	.block-sliders-coverKawasan .blocks_inner_bottominfo .in_block span.lefts_nm{
		font-size: 20px;
		padding-top: 0.6rem;
	}
	.block-sliders-coverKawasan .blocks_inner_bottominfo .in_block span.luas{
		font-size: 26px; 
	}
	.block-sliders-coverKawasan .blocks_inner_bottominfo .in_block span.lefts_nm{
		font-size: 17px;
	}
	section.industri-jiipe-sec-1 .prelative.container .row .row.artikel p.content{
		overflow: hidden;
	}
	.ints_tophektar {
	    padding-top: 305px;
	}
	.menu-taffix ul li{
		padding: 0 5px;
	}
	.menu-taffix ul li a{
		font-size: 15px;
	}
	.ints_tophektar{
		padding-top: 160px;
	} 
	section.cover-contact,
	section.cover-karir,
	section.cover-industri_jippe1,
	section.cover-profil{
		height: 500px;
	}

}

@media (max-width: 1200px){
	
	.wrapper{ margin: 0px; }

}

@media (max-width: 1135px){
	
	.prelative.container, .container{
		padding: 0 20px;
	}
	.block-logo-main{
		max-width: 90%; display: block;
	}
	header.header .rights_headmenu .nls_bottom ul li{
		padding: 0 0.5rem;
	}
	header.header .rights_headmenu .nls_bottom ul li a{
		font-size: 14px;
	}
	header.header .rights_headmenu .nls_top .sn_text_lang a{
		font-size: 13px;
	}
	section.home-sec-1 .prelative.container .row.pad-sec-2 .content p{
		font-size: 14px;
	}
	section.home-sec-1 .prelative.container .row.pad-sec-2 .title p{
		font-size: 30px;
	}
	section.industri-jiipe-sec-1 .prelative.container .row .title p{
		font-size: 30px;
	}
	.block-sliders-coverKawasan .blocks_inner_bottominfo .in_block span.lefts_nm{
		font-size: 15px;
	}
	.block-sliders-coverKawasan .blocks_inner_bottominfo .in_block span.luas{
		font-size: 18px;
	}
	.block-sliders-coverKawasan .blocks_inner_bottominfo .in_block span.luas small{
		font-size: 14px;
	}
	section.menu-footer-inquiry .prelative.container .row form .form-row input#validationCustom01, 
	section.menu-footer-inquiry .prelative.container .row form .form-row input#validationCustom01:active, 
	section.menu-footer-inquiry .prelative.container .row form .form-row input#validationCustom01:focus, 
	section.menu-footer-inquiry .prelative.container .row form .form-row input#validationCustom01:hover{
		width: 100%;
    	font-size: 0.5rem;
	}
	section.menu-footer-inquiry .prelative.container .row p.title-inquiri{
		font-size: 30px;
	}
	section.menu-footer-inquiry .prelative.container .row p.sub-title-inquiri{
		font-size: 15px;
	}
	section.menu-footer .prelative.container .row p.apapun{
		font-size: 16px;
	}
	section.blog-sec-1 .prelative.container .row.artikel-atas{
		padding-bottom: 0;
	}
	section.blog-sec-1 .prelative.container .row.artikel .judul{
		padding-top: 1.5rem; padding-bottom: 1rem;
	}

	.ints_tophektar{
		padding-top: 160px;
	}
	.menu-taffix ul li{
		padding: 0 3px;
	}
	.menu-taffix ul li a{
		font-size: 15px;
	}

}

@media (max-width : 1002px) {
		
	.container{
		max-width: 100%;
		padding: 0 15px;
	}
	header.header .leftn-block_head .lefts_logo .d-lg-block{
		display: none !important;
	}
	section.blog-sec-1 .prelative.container{
		padding-top: 3rem;
	}

	.header-affixs.affix,
	.header-affixs.affix-top{
		display: none !important;
		visibility: hidden !important;
	}

}

@media (max-width: 992px) {

	header.header{
		// background: none;
		min-height: inherit; height: auto;
	}

	.menu-header ul.list-unstyled.list-inline li.list-inline-item{
		margin: 0 4px;
	}
	.menu-header ul.list-unstyled.list-inline{
		margin: 0;
	}

	.menu-header{
		padding-top: 9px;
		margin-bottom: 40px;
		border-top: 2px solid #fff;
		margin-top: 32px;
		margin-left: 10px;
	}

	.navbar-brand{ 
		max-width: 80px; 
	}

	ul.navbar-nav{
		text-align: right;
		margin-left: 2.5em;
		padding-top: 0.9em;
		li:first-child{
			padding-left: 0;
		}
		li:last-child{
			padding-right: 0;
		}
		li{
			padding: 0 6px;
			a{
				font-size: 0.75em;
				color: #000;
			}
		}
	}

	.lists_profil_industry .items img{
		max-width: 100%;
		height: auto !important;
	}
	.block-breadcrumbs{
		padding: 0.5rem 0;
	}
	section.profil-sec-2 .prelative.container .row .row.visi-misi .title p{
		font-size: 3em;
	}

}

@media (max-width: 980px){

}

@media (max-width: 800px){
	
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
		
}

@media (min-width: 768px){

	.carousel-fade .carousel-item{
		background-size: cover;
	}

}

@media (max-width: 768px){
	
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	
	header.header{
		background: none;
		padding-bottom: 1em;
	}
	.logo-header{
		position: relative; top: inherit; left: inherit;
		padding-top: 15px;
	}
	.menu-header{
		margin-top: 1em; margin-left: 0; margin-bottom: 0; 
		border-top-width: 1px; border-color: rgba(255, 255, 255, 0.6);
	}
	.menu-header ul.list-unstyled.list-inline{
		float: none;
	}
	
	.navbar-light .navbar-toggler{
		padding: 0px; border:0px;
	}

	ul.navbar-nav{
		margin-left: 0;
		text-align: left;
	}
	ul.navbar-nav li{
		padding: 5px 0;
		border-bottom: 1px solid #DCDCDC;
	}
	ul.navbar-nav li:last-child{
		border-bottom: 0;
	}
	ul.navbar-nav li a{
		font-size: 0.9em;
	}

	.fcs-wrapper.outers_fcs_wrapper, .fcs-wrapper.outers_fcs_wrapper #myCarousel_home,
	.fcs-wrapper.outers_fcs_wrapper #myCarousel_home .carousel-inner{
		height: auto;
	}

	.fcs-wrapper.outers_fcs_wrapper #myCarousel_home .carousel-caption .text-slider h2.title{
		font-size: 1.5em;
	}
	.fcs-wrapper.outers_fcs_wrapper #myCarousel_home .carousel-caption .text-slider h4{
	    font-size: 0.9em;
	}
	.fcs-wrapper.outers_fcs_wrapper #myCarousel_home .carousel-caption{
		padding-bottom: 2em;
		left: 0px !important; 
		right: 0;
	}
	.fcs-wrapper.outers_fcs_wrapper #myCarousel_home .carousel-caption .text-slider a.customs_btn_fcs{
		width: 43%;
		height: auto;
		padding-top: 1.1rem; padding-bottom: 1.1rem;
		line-height: normal;
	}

	// header.header.homepages,
	header.header{
		height: auto;
		z-index: 150;
		top: 0px; 
		position: absolute; width: 100%;
		background-color: transparent !important;
		padding-bottom: 0 !important;
	}
	header.header.insides_page{
		position: relative !important;
		top: inherit;
		width: auto;
		padding-bottom: 0 !important;
	}
	body, html{
		height: auto;
	}

	.prelative.container{
		padding: 0 20px !important;
	}
	section.footer-copyright {
	    padding: 1.6rem 0;
	}
	section.footer-copyright .prelative.container .row span p{
		display: block;
		top: inherit; padding-left: 0;
		margin: 0; margin-top: 1.3rem;
	}
	section.footer-copyright .prelative.container .row p.by{
		top: inherit; float: none;
		display: block;
	}
	section.home-sec-3,
	section.home-sec-2,
	section.home-sec-1{
		padding: 3.6rem 0;
	}
	// header.header{
	// 	position: relative; z-index: 75;
	// 	padding-bottom: 0 !important;
	// }
	.bg-light{
		background-color: transparent !important;
	}
	section.home-sec-2 .prelative.container .row{
		padding-top: 0rem;
	}
	section.home-sec-4 .prelative.container .row .download {
	    padding-top: 0.5rem;
	    padding-bottom: 2rem;
	}
	
	section.artikel-sec-1,
	section.karir-sec-1,
	section.gallery-sec-1,
	section.blog-sec-1,
	section.industri_jippe1-sec-3,
	section.industri_jippe1-sec-2,
	section.industri_jippe1-sec-1,
	section.industri-jiipe-sec-1,
	section.profil-sec-4,
	section.profil-sec-1,
	section.profil-sec-2,
	section.menu-footer,
	section.menu-footer-inquiry{
		padding: 3.6rem 0;
	}
	section.menu-footer .prelative.container .row img,
	section.menu-footer-inquiry .prelative.container .row img{
		margin-top: 0;
	}
	section.menu-footer-inquiry .prelative.container .row form .form-row input#validationCustom01, 
	section.menu-footer-inquiry .prelative.container .row form .form-row input#validationCustom01:active, 
	section.menu-footer-inquiry .prelative.container .row form .form-row input#validationCustom01:focus, 
	section.menu-footer-inquiry .prelative.container .row form .form-row input#validationCustom01:hover{
		width: auto; min-width: 100%;
	}
	section.home-sec-1 .prelative.container .row.pad-sec-2 .angka p{
		font-size: 75px;
		padding-bottom: 0.1rem;
	}
	section.home-sec-1 .prelative.container .row.pad-sec-2 .more{
		padding-top: 0.5rem;
	}
	section.menu-footer .prelative.container .row p.apapun{
		font-size: 15px;
	}
	.slc_white_footjiipe{
		padding-bottom: 3.6rem;
	}
	hr.artikel-brosur{
		padding-bottom: 0 !important;
	}
	.gambar-content img{
		margin-bottom: 1.35rem;
	}
	hr.artikel-profil{
		margin-top: 1.2rem !important;
		padding-bottom: 1.2rem !important;
	} 
	section.profil-sec-1 .prelative.container .row.utama .lihat-video{
		padding-bottom: 0.2rem;
	}
	section.profil-sec-2 .prelative.container .row .row.visi-misi .content p{
		font-size: 20px;
	}
	section.cover-karir,
	section.cover-industri_jippe1,
	section.cover-contact,
	section.cover-profil{
		height: 450px;
		background-position: center;
	}
	section.profil-sec-3{
		height: 0;
	}
	section.profil-sec-2 .prelative.container .row .row.visi-misi{
		padding-bottom: 0;
	}
	
	section.industri-jiipe-sec-1 .prelative.container .row .content{
		padding-bottom: 3rem !important;
	}
	.block-sliders-coverKawasan .blocks_inner_bottominfo{
		position: relative; bottom: inherit; left: inherit; padding-top: 0.6rem;
	}
	.block-sliders-coverKawasan .blocks_inner_bottominfo .in_block,{
		border-color: #676767 !important;
		span{
			color: #676767 !important;
		}
	}

	.block-sliders-coverKawasan .blocks_inner_bottominfo .in_block.active, 
	.block-sliders-coverKawasan .blocks_inner_bottominfo .in_block:focus, 
	.block-sliders-coverKawasan .blocks_inner_bottominfo .in_block:hover{
		border-color: #db7373 !important;
		span{
			color: #db7373 !important;
		}
	}

	.block-sliders-coverKawasan{
		margin-bottom: 1rem !important; 
	}
	section.industri_jippe1-sec-1 .prelative.container .row .choose-industry p a{
		font-size: 20px;
	}
	section.industri_jippe1-sec-3 .prelative.container .row .title{
		height: 60px;
	}

	section.home-sec-3 .prelative.container .row.artikel.lists_news_blog{
		padding-top: 1rem !important;
	}

	.lists_news_blog .items:first-child{
		padding-top: 0rem;
	}
	.lists_news_blog .items{
		padding-top: 1rem;  
		padding-bottom: 1rem;
	}
	section.karir-sec-1 .prelative.container .row.lowongan-content .job p{
		margin-bottom: 10px;
	}
	.outers_box_enquire_contact .boxs{
		padding: 2.5rem 1.2rem;
	}
	.outers_box_enquire_contact{
		margin-bottom: 0rem !important;
	}
	section.menu-footer-inquiry .prelative.container .row form .form-row input#validationCustom01, section.menu-footer-inquiry .prelative.container .row form .form-row input#validationCustom01:active, section.menu-footer-inquiry .prelative.container .row form .form-row input#validationCustom01:focus, section.menu-footer-inquiry .prelative.container .row form .form-row input#validationCustom01:hover{
		font-size: 0.8rem;
	}
	section.artikel-sec-1 .prelative.container .row img{
		margin-top: 0 !important;
	}
	section.artikel-sec-1 .prelative.container .row .lihat-artikel {
	    padding-top: 1.5rem !important;
	    padding-bottom: 2.5rem !important;
	}
	section.artikel-sec-1 .prelative.container .row.artikel-bawah .tanggal{
		padding-bottom: 1rem !important;
	}
	section.artikel-sec-1 .prelative.container .row.artikel-bawah .lebih span{
		display: inline-block;
	}
	section.artikel-sec-1 .prelative.container .row.artikel-bawah .lebih a p img{
		top: 0px !important;
	}
	.block-sliders-coverKawasan .blocks_inner_bottominfo .col-md-20:last-child .in_block{
		margin-bottom: 0;
	}
	.block-sliders-coverKawasan .blocks_inner_bottominfo .in_block{
		margin-left: 0; margin-right: 0; margin-bottom: 0.5rem;
	}
	.block-sliders-coverKawasan .blocks_inner_bottominfo .in_block span.lefts_nm{
		padding-top: 0.2rem;
	}
	.ints_tophektar{
		padding-top: 0;
	}

	.navbar-light .navbar-toggler-icon{
		background: none;
		background: url('../images/th-listn_backwhites.png') no-repeat;
		background-size: contain;
		width: 1.6em;
		height: 1.6em;
	}
	.navbar-light .navbar-toggler-icon:hover,
	.navbar-light .navbar-toggler-icon:focus{
		border: 0px; outline: none;
	}
	header.header.insides_page .navbar-light .navbar-toggler-icon{
		background: url('../images/th-listn_backwhites_inside.png') no-repeat;
		background-size: contain;
	}

	.navbar-light .navbar-toggler{
		margin-top: 1rem;
	}
	.lgo_jiipe.navbar-brand{
		padding-top: 0.5rem;
		max-width: inherit;
	}
	.lgo_jiipe.navbar-brand .logo1{
		max-width: 80px;
	}
	.lgo_jiipe.navbar-brand {
		.middles_line{
			width: 1px; height: 55px;
			background-color: #fff;
		}
		.logo2_nright{
			small{
				font-size: 7.5px; color: #fff; font-weight: 400;
				display: block;
				line-height: 1;
			}
			ul{ margin: 0; margin-bottom: 0;
				li{
					max-width: 55px;
				}
				li.lst1{
					max-width: 90px;
				}
				li.lst2{}
			}
		}
	}

	header.header{
		.collapsesn_viewmenu{

		    // transform: translate(305px,0px);
		    // -webkit-transform: translate(305px,0px);
		    // -o-transform: translate(305px,0px);
		    // -ms-transform: translate(305px,0px);

			position: fixed;
		    top: 0;
		    right: -900px;
		    width: 100%;
		    height: 100%;

		    z-index: 10000;
		    background-color: #d2281f !important;
		    padding: 2rem;
		    overflow: hidden;

			-webkit-transition: 1.5s;
			-moz-transition: 1.5s;
			-o-transition: 1.5s;
			-ms-transition: 1.5s;
			transition: 1.5s;

		    a.closes_btn{
		    	text-align: right;
		    	i.fa{
		    		color: #fff; font-size: 18px;
		    	}
		    }
		    ul{
		    	li{
		    		a{
		    			color: #fff;
		    		}
		    		border-bottom: 1px solid #fff;
		    	}
		    	.list-inline-item:not(:last-child){
		    		margin-right: 0;
		    	}
		    }
		    .blocks_mobile_language{
		    	padding-top: 0.7rem;
		    	.sn_text_lang{
		    		color: rgba(255,255,255, 0.6);
		    		a{
		    			color: rgba(255,255,255, 0.6);
		    		}
		    		a.active,
		    		a:hover,
		    		a:focus{
		    			color: #fff;
		    		}
		    	}
		    }
		}

		.collapsesn_viewmenu.show{
			-webkit-transition: 1s;
			-moz-transition: 1s;
			-o-transition: 1s;
			-ms-transition: 1s;
			transition: 1s;
			right: 0px;
		}

	}
	header.header.insides_page{
		.lgo_jiipe.navbar-brand {
			.middles_line{
				background-color: rgba(0,0,0, 0.35);
			}
			.logo2_nright{
				small{
					color: #000;
				}
			}
		}
	}
	body{
		overflow: hidden;
	}
	.navbar-collapse.collapse{
		display: block !important;
	}
	.lists_news_blog .items .judul p, section.blog-sec-1 .prelative.container .row.artikel .judul p{
		height: auto; overflow: inherit;
	}
	section.industri-jiipe-sec-1 .prelative.container .row .title{
		margin-bottom: 0.65rem;
	}
	section.industri-jiipe-sec-1 .prelative.container .row .content {
	    padding-bottom: 1.8rem!important;
	}
	section.industri-jiipe-sec-1 .prelative.container .row .title{
		padding-bottom: 12px;
	}
	section.industri_jippe1-sec-1 .prelative.container .row .choose-industry p span{
		font-size: 20px;
		display: inline-block;
		vertical-align: middle;
	}
	section.industri_jippe1-sec-1 .prelative.container .row .choose-industry p a {
	    font-size: 17px;
	    display: inline-block;
	    vertical-align: middle;
	}
	section.industri_jippe1-sec-2 .prelative.container .row .content{
		padding-bottom: 40px;
	}
	section.industri_jippe1-sec-2 .prelative.container .row ul li{
		font-size: 14px;
	}
	section.industri_jippe1-sec-3 .prelative.container .row .title{
		height: auto !important;
	}
	section.industri_jiipe1-sec-4{
		height: 280px;
	}
	section.industri_jiipe1-sec-5 .prelative.container .row .judul{
		height: auto !important;
	}
	section.industri_jiipe1-sec-5 .prelative.container .row .judul p{
		line-height: 1.3;
	}
	section.menu-footer-inquiry .prelative.container .row p.sub-title-inquiri{
		font-size: 14px;
	}
	section.blog-sec-1 .prelative.container .row.artikel .judul {
	    padding: 20px 0 15px !important;
	}
	.box-form.tl-contact-form .float-right{
		float: none !important;
		margin-top: 0.5rem;
	}
	section.home-sec-3 .prelative.container .row.artikel .judul p{
		height: auto !important;
		overflow: inherit !important;
	}
	section.home-sec-1 .prelative.container .row.pad-sec-2 .angka{
		width: 180px;
	}
	section.menu-footer-inquiry .prelative.container .row p.title-inquiri{
		line-height: 1.3;
	}
	section.home-sec-3 .prelative.container .row.artikel .tanggal p{
		font-size: 13px;
	}
	section.home-sec-3 .prelative.container .row img{
		margin-top: 0 !important;
	}
	section.home-sec-3 .prelative.container .row.artikel .tanggal{
		padding-bottom: 0rem !important;
	}
	section.home-sec-3 .prelative.container .row.artikel .judul{
		padding-top: 1rem !important;
	}
	section.home-sec-3 .prelative.container .row.artikel .lebih a p img{
		margin-top: -50px !important;
	}
	section.home-sec-2 .prelative.container .row iframe{
		padding-top: 0;
	}
	section.home-sec-2 .prelative.container .row .embed-container{
		margin-top: 1.5rem; margin-bottom: 1.5rem;
	}
	section.home-sec-2 .prelative.container .row .lihat-koleksi{
		padding-top: 0;
	}
	section.home-sec-1 .prelative.container .row.pad-sec-2 {
	    padding-top: 25px !important;
	}
	.navbar-toggler{
		border-radius: 0px;
	}

	.lgosn_wa_mobile{
		max-width: 35px;
		display: block;
		float: right;
		margin-right: 15px;
		margin-top: 5px;
	}
	.lgosn_wa_mobile a{
		display: block;
		// max-width: 24px;
	}

	.lgo_jiipe.navbar-brand .logo2_nright small,
	header.header.insides_page .lgo_jiipe.navbar-brand .logo2_nright small{
		padding-bottom: 2px;
	}
	.lgo_jiipe.navbar-brand .logo2_nright ul li.lst2{
		max-width: 35px;
	}

}

/* Landscape phone to portrait tablet */
@media (max-width: 600px) {
}

/* Landscape phones and down */
@media (max-width: 480px) {
}

@media (max-width: 360px) {
	
	section.home-sec-3 .prelative.container .row.artikel .judul p{
		height: 48px;
	}

}

@media (max-width: 358px) {

	.prelative.container {
	    padding: 0 15px!important;
	}
	.fcs-wrapper.outers_fcs_wrapper #myCarousel_home .carousel-caption .text-slider a.customs_btn_fcs {
	    padding-top: 0.5rem;
	    padding-bottom: 0.5rem;
	    font-size: 12px;
	    width: 46%;
	}
	.lgo_jiipe.navbar-brand .logo1 {
	    max-width: 65px;
	}
	.lgo_jiipe.navbar-brand .logo2_nright ul li.lst1 {
	    max-width: 70px;
	}
	.lgo_jiipe.navbar-brand .logo2_nright ul li {
	    max-width: 40px;
	}
	.fcs-wrapper.outers_fcs_wrapper #myCarousel_home .carousel-caption .text-slider h2.title {
	    font-size: 1.35em;
	}
	.fcs-wrapper.outers_fcs_wrapper #myCarousel_home .carousel-caption .text-slider h4 {
	    font-size: 0.75em;
	}
	section.home-sec-1 .prelative.container .row.pad-sec-2 .angka {
	    width: 140px;
	}
	section.home-sec-1 .prelative.container .row.pad-sec-2 .angka p{
		font-size: 65px;
	}
	section.home-sec-1 .prelative.container .row.pad-sec-2 .more{
		padding-top: 0;
	}
	section.home-sec-1 .prelative.container .row.pad-sec-2 .title p, 
	section.home-sec-2 .prelative.container .row .title p { 
	    font-size: 24px !important;
	}
	section.menu-footer-inquiry .prelative.container .row form .form-row input#validationCustom01{
		font-size: 0.9em !important;
		border-bottom: 1px solid rgba(255,255,255, 0.35);
	}
	section.home-sec-4.slc_white_footjiipe span.title-pdf{
		font-size: 15px!important;
	}
	section.home-sec-4 .prelative.container .row .download span a p{
		color: #7a7a7a;
	}

}

@media screen and (max-width:450px){

	section.home-sec-1 .prelative.container .row.pad-sec-2{
	  padding-top: 50px;
	}
	section.home-sec-1 .prelative.container .row.pad-sec-2 .title p,
	section.home-sec-2 .prelative.container .row .title p{
	  font-size: 28px;
	}
	section.home-sec-1 .prelative.container .row.pad-sec-2 .angka{
	  padding-top: 50px;
	}
	section.home-sec-2 .prelative.container .row .title{
	  padding-top: 10px;
	}
	section.home-sec-3 .prelative.container .row.artikel .tanggal{
	  padding-bottom: 40px;
	}
	section.home-sec-3 .prelative.container .row.artikel .judul{
	  padding-top: 15px;
	  padding-bottom: 10px;
	}
	section.home-sec-3 .prelative.container .row.artikel .judul p{
	  font-size: 18px;
	}
	section.home-sec-3 .prelative.container .row.artikel .content{
	  padding-bottom: 5px;
	}
	section.home-sec-3 .prelative.container .row.artikel .lebih a p{
	  font-size: 16px;
	  padding-bottom: 20px;
	}
	section.home-sec-3 .prelative.container .row.artikel{
	  padding-bottom: 25px;
	}
	section.home-sec-3 .prelative.container{
	  padding-top: 50px;
	}
	section.menu-footer-inquiry .prelative.container .row p.title-inquiri{
	  font-size: 25px;
	}
	section.blog-sec-1 .prelative.container{
	  padding-top: 50px;
	}
	section.blog-sec-1 .prelative.container .berita-terbaru{
	  padding-top: 30px;
	}
	hr.artikel-berita{
	  margin-top: 20px;padding-bottom: 20px;
	}
	section.blog-sec-1 .prelative.container .row.artikel-atas .artikel-berita-atas .tanggal-blog p{
	  padding-top: 65px;
	}
	section.blog-sec-1 .prelative.container .row.artikel-atas .artikel-berita-atas .judul-blog p{
	  font-size: 20px;
	}
	section.blog-sec-1 .prelative.container .row.artikel-atas .artikel-berita-atas .content-blog p{
	  font-size: 13px;
	}
	section.blog-sec-1 .prelative.container .row.artikel-atas .artikel-berita-atas .lebih a p{
		font-size: 16px;
		padding-bottom: 0;
	}
	section.blog-sec-1 .prelative.container .row.artikel-atas{
		padding-bottom: 1rem;
	}
	hr.artikel-brosur{
		padding-bottom: 40px;
	}
	section.blog-sec-1 .prelative.container .row.artikel .tanggal{
		padding-bottom: 50px;
	}
	section.blog-sec-1 .prelative.container .row.artikel .judul{
		padding: 20px 0;
	}
	section.blog-sec-1 .prelative.container .row.artikel .judul p{
		font-size: 18px;
	}
	section.blog-sec-1 .prelative.container .row.artikel .content{
		padding-bottom: 20px;
	}
	section.blog-sec-1 .prelative.container .row.artikel .lebih a p{
		font-size: 16px;
		padding-bottom: 20px;
	}
	section.blog-sec-1 .prelative.container .row.artikel{
		padding-bottom: 0;
	}
	section.gallery-sec-1 .prelative.container{
		padding-top: 50px;
	}
	section.gallery-sec-1 .prelative.container .row .judul{
		padding-top: 20px;
	}
	section.gallery-sec-1 .prelative.container .row .judul p{
		padding-bottom: 15px;
		font-size: 16px;
	}
	section.gallery-sec-1 .prelative.container .row .lebih a p{
		font-size: 16px;
		padding-bottom: 30px;
	}
	hr.artikel-profil-sec-4, hr.gallery-sec-1{
		margin-top: 20px;
		padding-bottom: 20px;
	}
	section.karir-sec-1 .prelative.container .row .title p{
		font-size: 20px;
	}
	section.karir-sec-1 .prelative.container{
		padding-top: 50px;
	}
	section.karir-sec-1 .prelative.container .row .subtitle p{
		font-size: 14px;
	}
	section.karir-sec-1 .prelative.container .row .subtitle{
		padding-bottom: 20px;
	}
	hr.karir2{
		margin-top: 20px;padding-bottom: 50px;
	}
	section.profil-sec-1 .prelative.container{
		padding-top: 50px;
	}
	section.profil-sec-1 .prelative.container .row.utama .judul p{
		font-size: 20px;
	}
	section.profil-sec-1 .prelative.container .row.utama .judul{
		margin-top: 10px;
	}
	section.profil-sec-1 .prelative.container .row.utama .sub-judul p{
		font-size: 14px;
	}
	section.profil-sec-1 .prelative.container .row.utama .sub-judul{
		padding-bottom: 25px;
	}
	section.industri-jiipe-sec-1 .prelative.container{
		padding-top: 50px;
	}
	section.industri-jiipe-sec-1 .prelative.container .row .title p{
		font-size: 20px;margin-bottom: 0;
	}
	section.industri-jiipe-sec-1 .prelative.container .row .title{
		margin-top: 20px;padding-bottom: 5px;
	}
	section.industri-jiipe-sec-1 .prelative.container .row .content{
		padding-bottom: 100px;
	}
	section.industri-jiipe-sec-1 .prelative.container .row .content p{
		font-size: 14px;
	}
	section.industri-jiipe-sec-1 .prelative.container .row .row.artikel p.sub-judul{
		margin-bottom: 0;
	}
	section.industri-jiipe-sec-1 .prelative.container .row .row.artikel .lebih{
		padding: 20px 0 30px 0;
	}
	.prelative.container nav{
		padding: 0px;
	}
	section.industri_jippe1-sec-1 .prelative.container{
		padding-top: 50px;
	}
	section.industri_jippe1-sec-1 .prelative.container .row .judul p{
		padding-top: 20px;
		font-size: 25px;
		line-height: 1em;
	}
	section.industri_jippe1-sec-1 .prelative.container .row .content{
		padding: 15px 0;
	}
	section.industri_jippe1-sec-2 .prelative.container{
		padding-top: 50px;
	}
	section.industri_jippe1-sec-2 .prelative.container .row .content{
		padding-top: 20px;padding-bottom: 50px;
	}
	section.industri_jippe1-sec-3 .prelative.container{
		padding-top: 50px;
	}
	section.industri_jippe1-sec-3 .prelative.container .row p.info{
		font-size: 16px;
	}
	section.industri_jippe1-sec-3 .prelative.container .row .title{
		padding-top: 15px;
		height: 70px;
	}
	section.industri_jippe1-sec-3 .prelative.container .row .category{
		padding-bottom: 20px;
	}
	section.industri_jiipe1-sec-5 .prelative.container .row img{
		padding-top: 0;
		margin-top: 0;
	}
	section.industri_jiipe1-sec-5 .prelative.container .row .judul p{
		padding-top: 10px;
		font-size: 20px;
	}
	section.industri_jiipe1-sec-5 .prelative.container .row .judul{
		height: 100px;
	}
	section.industri_jiipe1-sec-5 .prelative.container .row .content{
		padding-bottom: 0;
	}
	.col-md-15.wow.fadeInDown.footer-mobile{
		text-align: center;
	}
	.fcs-wrapper.outers_fcs_wrapper #myCarousel_home .carousel-caption .text-slider h2.title,
	.fcs-wrapper.outers_fcs_wrapper #myCarousel_home .carousel-caption .text-slider h4,
	section.home-sec-3 .prelative.container .row p.info{
		max-width: 275px;
	}
	.fcs-wrapper.outers_fcs_wrapper #myCarousel_home .carousel-caption .text-slider h2.title,
	.fcs-wrapper.outers_fcs_wrapper #myCarousel_home .carousel-caption .text-slider h4{
		max-width: 100%; 
		padding-right: 12%;
		margin-bottom: 1.3rem;
	}
	.fcs-wrapper.outers_fcs_wrapper #myCarousel_home .carousel-caption .text-slider h2.title{
		margin-bottom: 0.8rem; line-height: 1.18; 
	}
	// .fcs-wrapper.outers_fcs_wrapper #myCarousel_home .carousel-caption .text-slider a.customs_btn_fcs{
	// 	padding-top: 0.9rem;
	// 	padding-bottom: 0.9rem;
	// 	width: 48%;
	// }

	.hidden-mobile{
		display: none;
	}
	section.home-sec-3 .prelative.container .row.artikel .content p{
		padding-bottom: 15px;
	}
	section.home-sec-3 .prelative.container .row.artikel .lebih a p{
		font-weight: bold;
	}
	.form-row{
		width: 80%;
	}
	section.menu-footer-inquiry .prelative.container .row form button.slc_buttons_shape{
		top: -25px;
		float: right;
		left: 60px;
	}
	section.menu-footer-inquiry .prelative.container .row p.title-inquiri {
		font-size: 20px;
		max-width: 300px;
		font-weight: 600;
		padding-top: 30px;
		padding-bottom: 15px;
	}
	section.menu-footer-inquiry .prelative.container .row form .form-row input#validationCustom01{
		font-size: 1em;
		padding-top: 25px;
	}
	.row.mobile.hidden-pc{
		background-color: #230a0a;
		.prelative.container{
			.title{
				font-size: 25px;
				color: #ee3124;
				font-weight: bold;
				padding: 50px 15px 0 15px; line-height: 1.2;
			}
			.content{
				color: #ffffff;
				padding: 10px 15px; line-height: 1.6;
			}
			.more{
				padding: 10px 15px 50px;
				a{
					color: #ffffff;font-weight: bold;font-size: 15px;
					p{
						span{
							img{
								position: relative;
								padding-left: 25px;
							}
						}
					}
				}
			}
		}
	}
	
	section.home-sec-1 .prelative.container .row.pad-sec-2 .hektar{
		top: 0;
	}
}

@media screen and (min-width:450px){
	.hidden-pc{
		display: none;
	}
}