// @import url('https://fonts.googleapis.com/css?family=Arapey:400,400i');
// @import url('https://fonts.googleapis.com/css?family=Encode+Sans:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

// @arap : 'Arapey', serif;
// @encode : 'Encode Sans', sans-serif;
@roboto: 'Roboto', sans-serif;
@robot: 'Montserrat', sans-serif;

body,html{
  overflow-x: hidden;
  font-family: @robot; 
}

section{
  width: 100%;
}

@media (min-width: 1750px) {
  .prelative.container{
    max-width: 1758px;
    width: auto;
    margin: 0 auto;
  }
}

.prelative.container{
  max-width: 100%;
  width: auto;
  margin: 0 auto;
  padding: 0 60px;
}
header.header{
  .container{
  }
  .leftn-block_head{
    .lefts_logo {
      .d-lg-block{
        display: inline-block !important;
      }
    }
    .block-logo-main{

    }
    .sn-line{
      width: 1px; height: 68px; background-color: #fff;
    }
    .right-snbrand{
      span{
        display: block;
        line-height: 1;
        font-size: 9px; font-weight: 400; color: #fff;
        font-family: @robot;
      }
      ul{
        margin: 0; margin-right: 0;
        li{
          margin: 0px; padding: 0;
        }
      }
    }
  }


  .rights_headmenu{
    .nls_top{
      text-align: right;
      .calls_headr{
        font-size: 14px; font-weight: 700; color: #fff;
        a{
          color: #fff; text-decoration: none;
        }
        img.lgowa{
          display: inline-block;
          max-width: 24px;
          position: relative;
          top: -5px;
        }
      }
      .sn_line{
        width: 1px; height: 30px; background-color: #fff;
      }
      .sn_text_lang{
        font-size: 14px; font-weight: 500; color: #fff;

        a{
          display:inline-block;
          font-size: 14px; font-weight: 500; color: #fff;
          text-transform: uppercase;
          transition: font-weight .3s;
        }
        a.active,
        a:hover,
        a:focus{
          font-weight: 700; 
          text-decoration: none;
          color: #ff3329;
        }

        a::after {
            display: inline-block;
            width: 0; 
            height: 0;
            content: attr(title);
            font-weight: bold;
            overflow: hidden;
            visibility: hidden;
        }
      }
    }
    .nls_bottom{
      text-align: right;
      ul{
        margin: 0; padding: 0;
        li{
          padding: 0; margin: 0;
          padding: 0 0.8rem; position: relative;
          a{
            font-size: 16px; font-weight: 400; color: #fff;
            position: relative;
            -webkit-transition: color 0.2s linear;
            -moz-transition: color 0.2s linear;
            -o-transition: color 0.2s linear;
            transition: color 0.2s linear;
            z-index: 60;
          } 
          a:after {
              -ms-transition: -webkit-transform .3s ease-out,border-color .3s ease-out;
              -webkit-transition: -webkit-transform .3s ease-out,border-color .3s ease-out;
              transition: transform .3s ease-out,border-color .3s ease-out;
              position: absolute;
              display: block;
              bottom: -6px;
              left: 0;
              width: 100%;
              -ms-transform: scaleX(0);
              -webkit-transform: scaleX(0);
              transform: scaleX(0);
              border-top: 2px solid #000;
              content: '';
              padding-bottom: inherit;
          }
        }
        li:hover,
        li:active,
        li.active{
          a{
            text-decoration: none;
          }
          a:after {
            border-color: #d2281f!important;
          }
          a:after {
            -ms-transform: scaleX(1);
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
          }
        }
        li:first-child{
          padding-left: 0;
        }
        li:last-child{
          padding-right: 0;
        }
      }
    }
  }
  clear: both;
}


.fcs-wrapper.outers_fcs_wrapper{
  // max-height: 753px;
  #myCarousel_home{
    // max-height: 753px;
    .carousel-inner{
      // max-height: 753px;
    }
    .carousel-caption{
      padding-bottom: 2em;
      left: 0px; right: inherit; width: 100%;
      .text-slider{
        max-width: 540px; text-align: left;
          h2,h4, p{
            display: block; margin: 0; padding: 0;
            line-height: 1.1;
          }
          h2.title{
            font-size: 35px; font-weight: 700; color: #fff;
            margin-bottom: 15px;
          }
          h4{
            font-size: 20px; font-weight: 400; color: #fff; line-height: 1.4;
            margin-bottom: 35px;
          }
          p{
            font-size: 15px; font-weight: 400; color: #fff;
            margin-bottom: 20px; line-height: 1.3;
          }

          a.customs_btn_fcs{
            display: inline-block; text-align: center; margin: 0 auto; padding: 0;
            background: none; background-color: transparent; box-shadow: none; border-radius: 0px; border:0px;

            font-size: 14px; font-weight: 500; color: #fff; letter-spacing: 1px;
            width: 222px; height: 56px;
            // padding-top: 15px;
            padding: 0px;
            line-height: 56px;
            color: #fff;
            -webkit-box-shadow: 2px 2px 6px 0px rgba(50, 50, 50, 0.15);
            -moz-box-shadow:    2px 2px 6px 0px rgba(50, 50, 50, 0.15);
            box-shadow:         2px 2px 6px 0px rgba(50, 50, 50, 0.15);
          }
          a.customs_btn_fcs.btns_red{
            background-color: #ee3124;
          }
          a.customs_btn_fcs.btns_blue{
            background-color: #0ea3dd;
          }
      }
    }
    ol.carousel-indicators{
      margin-bottom: 5px;
      left: inherit;
      right: inherit;
      margin-left: 0px;
      margin-right: 0px;
      li{
        cursor: pointer;
        width: 15px; height: 15px;
        background: url('../images/toc-fcs.png') no-repeat;
      }
      li:hover,
      li:focus,
      li.active{
        width: 15px; height: 15px;
        background: url('../images/toc-fcs-active.png') no-repeat;
      }
    }
    clear: both;
  }
  clear: both;
}

section.footer-copyright{
  padding: 40px 0 35px;
  .prelative.container{
    .row{
      span{
        p{
          font-family: @robot; font-weight: 500; font-size: 12px; color: #bcbcbc;
          display: inline-block;position: relative; top: 6px; padding-left: 10px;
        }
      }
      p.by{
        font-family: @robot; font-weight: 500; font-size: 12px; color: #bcbcbc;
        display: inline-block;position: relative;top: 18px;float: right;
        a{
          font-family: @robot; font-weight: 500; font-size: 12px; color: #bcbcbc;
        }
      }
    }
  }
}

section.menu-footer{
  background-color: #000000;
  .prelative.container{
    padding-top: 175px;
    padding-bottom: 90px;
    .row{
      img{
        position: relative;
        display: block;
        margin-top: -50px;
      }
      p.info{
        font-size: 20px;color: #ffffff;font-family: @robot;font-weight: 400;padding-top: 25px;
      }
      .infos_top_contactbtm p,
      p.apapun{
        font-size: 19px;color: #ffffff;font-family: @robot;font-weight: 400;max-width: 865px;
      }
      p.title{
        padding-top: 30px;
        font-size: 16px;font-weight: bold;font-family: @robot;color: #ffffff;
      }
      p.alamat{
        font-size: 14px;color: #ffffff;font-family: @robot;font-weight: 400; padding-top: 6px;
      }
      p.telp{
        font-size: 14px;color: #ffffff;font-family: @robot;font-weight: 400;padding-top: 10px;margin: 0;
      }
      p.no-telp{
        font-size: 14px;color: #ffffff;font-family: @robot;font-weight: bold;
        // margin: 0;
      }
      p.fax{
        font-size: 14px;color: #ffffff;font-family: @robot;font-weight: 400;padding-top: 10px;margin: 0;
      }
      p.no-fax{
        font-size: 14px;color: #ffffff;font-family: @robot;font-weight: bold;margin: 0;
      }
      .menu-isi{
        ul{
          list-style: none;
          padding-left: 0;padding-top: 10px;
          li{
            a{
              p{
                color: #ffffff;font-size: 14px;font-weight: 400;font-family: @robot;margin-bottom: 5px;
              }
            }
          }
        }
      }
    }
  }
}

section.menu-footer-inquiry{
  // background-color: #0ea3dd;
  min-height: 428px; height: auto; background-size: cover; width: 100%;
  background: url('../images/backs_red_inquire_blc_ft.jpg') no-repeat;
  background-size: cover;
  .prelative.container{
    padding-top: 130px;
    .row{
      img{
        position: relative;
        display: block;
        margin-top: -50px;
      }
      p.info{
        font-size: 20px;color: #ffffff;font-family: @robot;font-weight: 400;padding-top: 25px;
      }
      p.title-inquiri{
        margin: 0;
        font-size: 35px;color: #ffffff;font-family: @robot;font-weight: bold;max-width: 865px;
        line-height: 1; padding-bottom: 0.6rem;
      }
      p.sub-title-inquiri{
        padding-top: 5px;
        font-size: 16px;color: #ffffff;font-family: @robot;font-weight: 400;max-width: 865px;
      }
      form{
        padding-bottom: 125px;
        padding-top: 10px;
        .form-row{
          input.form-control{
            padding-left: 5px;
          }
          input#validationCustom01,
          input#validationCustom01:hover,
          input#validationCustom01:focus,
          input#validationCustom01:active{
            // width: 205px; 
            width: 100%;
            outline: none; box-shadow: none;
            background: transparent;color: #ffffff;border: 0;
            border-bottom: 1px #fff solid;border-radius: 0;
          }
          
          input::placeholder{
            color: #ffffff;
          }
        }
        button.slc_buttons_shape{
          background: none; background-color: transparent; border: 0px; border-radius: 0px;
          width: 49px; height: 22px;
          background: url('../images/arrows_chev_shapewhite.png') no-repeat;
          position: relative; top: 10px;
        }
      }
    }
  }
}

section.home-sec-4{
  .prelative.container{
    // padding-top: 65px;
    padding-bottom: 3rem;
    .row{
      padding-top: 65px;
      img{
        position: relative;
        display: block;
        margin-top: -50px;  
        // padding-top: 65px;

      }
      p.info{
        padding-top: 25px;
        font-family: @robot;color: #d52827;font-size: 20px;font-weight: 400;    
      }
      p.title-pdf{
        font-family: @robot;color: #d52827;font-size: 35px;font-weight: bold; line-height: 1.2em;  
      }

      .download{
        padding-top: 1.6rem;
        padding-bottom: 2.5rem;
        img{
          position: relative;
          display: inline-block;
          vertical-align: top;
          margin-top: 0;
        }
        span{
          display: inline-block;
          vertical-align: top;
          max-width: 80%; padding-top: 1.3rem;
          a{
            p{
              display: block;
              margin: 0; line-height: 1.3;
              padding-left: 5px; 
              font-size: 15px; 
              color: #000000;
              font-family: @robot;
              font-weight: 400;
              // position: relative;
              // top: -22px;
            }
          }
        }
      }
    }
  }
}

section.home-sec-3{
  .prelative.container{
    padding-top: 135px;
    .row.artikel{
      padding-top: 0;
      padding-bottom: 65px;
      .tanggal{
        padding-bottom: 65px;
        p{
          font-size: 15px;font-weight: 400;font-family: @robot;color: #000000;
        }
      }
      .judul{
        // padding-top: 45px; padding-bottom: 35px;
        padding-top: 40px; padding-bottom: 30px;
        p{
          margin-bottom: 0;
          line-height: 1.3;
          font-size: 20px;font-weight: 500; color: #d52827;font-family: @robot;
          height: 53px; overflow: hidden; 
        }
      }
      .content{
        padding-bottom: 50px;
        p{
          margin-bottom: 0;font-size: 15px;color: #7a7a7a;font-family: @robot;font-weight: 400;
        }
      }
      .lebih{
        a{
          p{
            font-size: 18px;color: #000000;font-family: @robot;font-weight: 400;
            img{
              padding-left: 18px;
              position: relative;
              top: 23px;
              display: inline-block;
            }
          }
        }
      }
    }
    .row{
      padding-top: 65px;
      img{
        position: relative;
        display: block;
        margin-top: -50px;  
        // padding-top: 65px;

      }
      p.info{
        padding-top: 25px;
        font-family: @robot;color: #d52827;font-size: 20px;font-weight: 400;    
      }
      p.title-pdf{
        font-family: @robot;color: #d52827;font-size: 35px;font-weight: bold; line-height: 1.2em;  
      }
      .download{
        padding-top: 60px;padding-bottom: 100px;
        img{
          position: relative;
          display: inline-block;
        }
        span{
          a{
            p{
              padding-left: 20px;font-size: 16px;color: #000000;font-family: @robot;font-weight: 400;
              position: relative;
              top: -22px;
              display: inline-block;
            }
          }
        }
      }
    }
  }
}

hr.artikel-brosur{
  color: #cccccc;
  padding-bottom: 65px; 
}

hr.artikel-berita{
  // padding-top: 20px;
  margin-top: 40px;
  margin-bottom: 0;
  color: #cccccc;
  padding-bottom: 50px; 
}



hr.home-sec-1{
  background-color: #ffffff;
  height: 2px;
  // padding: 45px 0;
}

section.home-sec-2{ 
  background-color: #ee3124;
  .prelative.container{
    padding-bottom: 80px;
    .row.video{
      padding-top: 0;
    }
    .row{
      padding-top: 120px;
      p.info{
        padding-top: 25px;
        font-size: 20px;color: #ffffff; font-family: @robot;font-weight: 400;
      }
      .title{
        padding-top: 50px;
        h1, h2{
          color: #fff; font-weight: 700;
        }
        h3,p{ display: block;
          line-height: 1.1em;margin-bottom: 0px;
          font-size: 35px;color: #ffffff;font-family: @robot;font-weight: bold;
        }
      }
      .subtitle{
        padding-top: 30px;
        p{
          margin-bottom: 0;
          font-size: 16px;color: #ffffff;font-family: @robot;font-weight: 400;
        }
      }
      iframe{
        padding-top: 40px;
      }
      .lihat-koleksi{
        padding-top: 45px;
        a{
          color: #ffffff;
          p{
            font-size: 16px;font-weight: bold;font-family: @robot;color: #ffffff;
            span{
              img{
                padding-left: 20px;
              }
            }
          }
        }
      }
    }
  }
}

section.home-sec-1{
  background: url('../images/back-sec-1.jpg');
  background-size: cover; 
  // background-color: #ee3124;
  .prelative.container{
    padding-bottom: 130px;  
    padding-top: 100px;
    .row{
      p.info{
        margin-bottom: 0;
        padding-top: 25px;
        font-size: 20px;color: #ffffff; font-family: @robot;font-weight: 400;
      }
    }
    .row.pad-sec-2{
      // padding-top: 315px;
      padding-top: 250px;
      .title{
        p{
          font-size: 35px; color: #ffffff; font-family: @robot; font-weight: bold;
          line-height: 1.3;
        }
      }
      .content{
        h1, h2, h3{
          display: block; margin: 0; padding: 0;
          margin-bottom: 22px;
          font-size: 35px; color: #ffffff; font-family: @robot; font-weight: bold;
          line-height: 1.25;
        }
        h5, p{
          max-width: 380px;
          margin-bottom: 0;
          font-size: 16px;color: #ffffff;font-family: @robot;font-weight: 400;
        }
      }
      .more{
        padding-top: 1.4rem;
        a{
          color: #ffffff;
          p{
            color: #ffffff;font-size: 16px;font-family: @robot;font-weight: bold;
            text-transform: capitalize;
            span{
              padding-left: 20px;position: relative;display: inline-block;top: -2px;
              img{

              }
            }
          }
        }
      }
      .angka{
        display: inline-block;
        // padding-top: 155px; 
        // height: 265px; overflow: hidden;
        width: 192px;
        p{
          margin-bottom: 0;
          font-size: 95px;font-family: @robot;font-weight: bold;color: #ffffff;
          line-height: 1;
          padding-bottom: 0.3rem;
          // display: block; 
          // height: 110px; width: 100%; display: block;
          // overflow: hidden;
        }
      }
      .hektar{
        display: inline-block; 
        position: relative;
        top: -5px;
        p{
          // margin-bottom: 0;
          line-height: 1.3;
          font-size: 40px;font-family: @robot;font-weight: 600;color: #ffffff;
          span{
            display: block;
            font-size: 13px;color: #ffffff;font-family: @robot;font-weight: bold;
            
          }
        }
      }
    }
  }
}

.carousel-item.active.home-slider-new.full-screen{
  background-size: cover;
  background-repeat: no-repeat;
}

header.header{
  position: absolute;
  width: 100%;
  z-index: 100;
  height: 100px;
}
header.header.insides_page{
  position: relative; 
  height: auto;
  z-index: 150;
  padding-bottom: 1.3rem;
  border-bottom: 1px solid #d1d1d1;
  .leftn-block_head .sn-line{
    background-color: #d1d1d1;
  }
  .rights_headmenu .nls_bottom ul li a{
    color: #424242;
  }
  .rights_headmenu .nls_top .sn_text_lang a,
  .rights_headmenu .nls_top .sn_text_lang{
    color: #b3b3b3;
  }
  .rights_headmenu .nls_top .sn_text_lang a.active,
  .rights_headmenu .nls_top .sn_text_lang a:hover,
  .rights_headmenu .nls_top .sn_text_lang a:focus,
  .rights_headmenu .nls_top .sn_text_lang a.active{
    color: #d22c12;
  }
  .rights_headmenu .nls_top .sn_line{
    background-color: #d1d1d1;
  }
  .rights_headmenu .nls_top .calls_headr{
    color: #000;
    i.fa{
      color: #d22c12;
    }
  }

  .rights_headmenu .nls_bottom ul li.active a, 
  .rights_headmenu .nls_bottom ul li:active a, 
  .rights_headmenu .nls_bottom ul li:hover a {
    color: #d22c12!important;
  }
  .rights_headmenu .nls_top .calls_headr,
  .rights_headmenu .nls_top .calls_headr a{
    color: #b3b3b3;
  }

  .leftn-block_head .right-snbrand span{
    color: #b3b3b3;
  }
}

section.blog-sec-1{
  .prelative.container{
    padding-top: 100px;
    .row.artikel-atas{
      padding-top: 65px;
      padding-bottom: 0px;
      .artikel-berita-atas{
        margin-top: -55px;
        .tanggal-blog{
          p{
            font-size: 15px;font-family: @robot;color: #000000;font-weight: 400;
          }
        }
        .judul-blog{
          h1,
          p{
            font-size: 30px;font-family: @robot;color: #d22c12;font-weight: bold;
            line-height: 1.3em; 
            // height: 90px;
            // overflow: hidden;
          }
        }
        .content-blog{
          p{
            font-size: 16px;font-family: @robot;color: #000000;font-weight: 400;
          }
        }
        .lebih{
          a{
            p{
               font-size: 18px;color: #000000;font-family: @robot;font-weight: 400;
              padding-bottom: 50px;
              img{
                padding-left: 12px;
                position: relative;
                top: 23px;
                display: inline-block;
              }
            }
          }
        }
      }
    }
    .berita-terbaru{
      color: #000000;font-family: @robot;font-size: 17px;font-weight: bold;
    }
    .row.artikel{
      padding-top: 0;
      padding-bottom: 130px;
      .tanggal{
        padding-bottom: 65px;
        margin-top: -20px;
        p{
          font-size: 15px;font-weight: 400;font-family: @robot;color: #000000;
        }
      }
      .judul{
        padding-top: 45px;
        padding-bottom: 35px;
        p{
          margin-bottom: 0; display: block;
          line-height: 1.3;
          font-size: 20px;font-weight: 500; color: #d52827;font-family: @robot;
        }
      }
      .content{
        padding-bottom: 45px;
        p{
          margin-bottom: 0;font-size: 15px;color: #7a7a7a;font-family: @robot;font-weight: 400;
        }
      }
      .lebih{
        a{
          p{
            font-size: 18px;color: #000000;font-family: @robot;font-weight: 400;
            padding-bottom: 50px;
            img{
              padding-left: 12px;
              position: relative;
              top: 23px;
              display: inline-block;
            }
          }
        }
      }
    }
    .row.utama{
      padding-top: 65px;
      img{
        position: relative;
        display: block;
        margin-top: -50px;  
        // padding-top: 65px;

      }
      .side{
        padding-top: 50px;
        a{
          p{
            display: inline;
            position: relative;font-size: 16px;color: #d22c12;font-weight: 400;font-family: @robot;
            top: -17px;padding-left: 25px;
          }
        }
      }
      h2.info,
      p.info{
        padding-top: 25px;
        font-family: @robot;color: #d52827;font-size: 20px;font-weight: 400;    
      }
      p.title-pdf{
        font-family: @robot;color: #d52827;font-size: 35px;font-weight: bold; line-height: 1.2em;  
      }
      .download{
        padding-top: 60px;padding-bottom: 100px;
        img{
          position: relative;
          display: inline-block;
        }
        span{
          a{
            p{
              padding-left: 20px;font-size: 16px;color: #000000;font-family: @robot;font-weight: 400;
              position: relative;
              top: -22px;
              display: inline-block;
            }
          }
        }
      }
    }
  }
}

section.cover-profil{
  background: url('../images/profilcover.jpg');
  height: 593px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  .prelative.container{
    .row{

    }
  }
}

section.cover-contact{
  background-image: url('../images/ill-contact.jpg');
}
section.profil-sec-2{
  background-color: #d22c12;
}

section.profil-sec-3{
  background: url('../images/profil-sec3.jpg');
  height: 580px;
  background-repeat: no-repeat;
  background-size: cover;
}

section.cover-industri_jippe1{
  background: url('../images/2-kawasan-industri-jiipe-kawasan-industri_02.jpg');
  height: 591px;
  background-repeat: no-repeat;
  background-size: cover;
}

section.industri_jippe1-sec-2{
  background-color: #d22c12;
}

section.industri_jippe1-sec-3{
  background-color: #0ea3dd;
}

section.industri_jiipe1-sec-4{
  background: url('../images/industry_jiipe.jpg');
  height: 570px;
  background-repeat: no-repeat;
  background-size: cover;
}

section.cover-karir{
  background: url('../images/2-karir_02.jpg');
  height: 570px;
  background-repeat: no-repeat;
  background-size: cover;
}
section.profil-sec-1{
  .prelative.container{
    padding-top: 100px;
    .row.utama{
      p.info{
        font-family: @robot;font-weight: 400;font-size: 20px;color: #d52827;
        margin-top: 15px;
      }
      .judul{
        margin-top: 35px;
        h2{
          font-size: 35px;font-weight: bold;font-family: @robot;color: #d52827;
          // max-width: 770px;
          max-width: 905px;
          line-height: 1.2em;
          padding-bottom: 0.4rem;
        }
        h5{
          font-size: 17px;font-weight: bold;font-family: @robot;color: #000000;
          // max-width: 850px;
          max-width: 905px;
          line-height: 1.3em;margin-bottom: 0;
        }
      }
      .sub-judul{
        padding-bottom: 50px;
        p{
          font-size: 17px;font-weight: bold;font-family: @robot;color: #000000;
          // max-width: 850px;
          max-width: 905px;
          line-height: 1.2em;margin-bottom: 0;
        }
      }
      .row.gambar-content{
        .content{
          p{
            font-size: 14px;font-family: @robot;font-weight: 400;
            margin-bottom: 1.2rem; 
          }
        }
      }
      .lihat-video{
        padding-bottom: 145px;
        img{
        }
        span{
          p{
            display: inline;padding-left: 25px;
            font-size: 16px;font-weight: bold;color: #424242;
          }
        }
      }
    }
  }
}

hr.artikel-profil{
  // padding-top: 20px;
  margin-top: 70px;
  margin-bottom: 0;
  color: #cccccc;
  padding-bottom: 50px; 
}

section.profil-sec-2{
  .prelative.container{
    padding-top: 100px;
    .row{
      p.info{
        margin-top: 15px;
        font-size: 20px;font-weight: 400;color: #ffffff;font-family: @robot;
      }
      .row.visi-misi{
        margin-top: 17px;
        padding-bottom: 125px;
        .title{
          p{
            font-weight: 300;font-size: 65px;color: #ffffff;font-family: @robot;
            margin-bottom: 0;
          }
        }
        .content{
          p{
            max-width: 630px;
            font-size: 22px;font-weight: 300;font-family: @robot;color: #ffffff;
          }
        }
      }
    }
  }
}

section.profil-sec-4{
  .prelative.container{
    .row{
      p.info{
        margin-top: 15px;
        font-size: 20px;font-weight: 400;color: #ee3124;font-family: @robot;
      }
      .row.sec-4.industry{
        padding-top: 45px;
        .judul{
          p{
            padding-top: 25px; margin-bottom: 12px;
            font-size: 19px; font-weight: bold; font-family: @robot;color: #ee3124;
          }
        }
        .content{
          p{
            padding-bottom: 60px;
            font-size: 15px;font-weight: 400;font-family: @robot;color: #000000;
          }
        }
      }
    }
  }
}

hr.artikel-profil-sec-4{
  // padding-top: 20px;
  margin-top: 50px;
  margin-bottom: 0;
  color: #cccccc;
  padding-bottom: 50px; 
}

hr.gallery-sec-1{
  // padding-top: 20px;
  margin-top: 50px;
  margin-bottom: 0;
  color: #cccccc;
  padding-bottom: 50px; 
}

section.gallery-sec-1{
  .prelative.container{
    padding-top: 100px;
    .row{
      .side{
        a{
          p{
            display: inline;
            position: relative;font-size: 16px;color: #d22c12;font-weight: 400;font-family: @robot;
            top: 2px;padding-left: 10px;
          }
        }
      } 
      p.info{
        margin-top: 15px;
        font-size: 20px;font-weight: 400;color: #ee3124;font-family: @robot;
      }
      .berita-terbaru{
        padding-top: 45px;
        p{
          font-size: 17px;font-weight: bold;font-family: @robot;color: #000000;
        }
      }
      .tanggal{
        p{
          font-size: 15px;font-weight: 400;font-family: @robot;color: #000000;
        }
      }
      .judul{
        padding-top: 45px;
        p{
          padding-bottom: 30px;
          margin-bottom: 0;
          font-size: 22px;font-weight: 600;font-family: @robot;color: #d52827;
          line-height: 1.3;
          height: 60px;
          overflow: hidden;
        }
      }
      .lebih{
        padding-top: 15px;
        a{
          p{
            font-size: 18px;font-family: @robot;color: #000000;
            span{
              padding-left: 25px;
              img{
                position: relative;
                top: -2px;
              }
            }
          }
        }
      }
      .lihat-semua-foto{
        a{
          p{
            margin: 0 auto;
            text-align: center;
            margin-bottom: 0;font-size: 15px;font-weight: 400;color: #d22c12;
          }
        }
      }
    }
  }
}

section.gallery-sec-2{
  .prelative.container{
    padding-top: 50px;  
    .row{
      p.info{
        margin-top: 15px;
        font-size: 20px;font-weight: 400;color: #ee3124;font-family: @robot;
      }
      .berita-terbaru{
        padding-top: 45px;
        p{
          font-size: 17px;font-weight: bold;font-family: @robot;color: #000000;
        }
      }
      .tanggal{
        p{
          font-size: 15px;font-weight: 400;font-family: @robot;color: #000000;
        }
      }
      .judul{
        padding-top: 45px;
        p{
          padding-bottom: 30px;
          margin-bottom: 0;
          font-size: 22px;font-weight: 600;font-family: @robot;color: #d52827;
        }
      }
      .lebih{
        a{
          p{
            font-size: 18px;font-family: @robot;color: #000000;
            span{
              padding-left: 25px;
              img{
                position: relative;
                top: -2px;
              }
            }
          }
        }
      }
      .lihat-semua-foto{
        a{
          p{
            margin: 0 auto;
            text-align: center;
            margin-bottom: 0;font-size: 15px;font-weight: 400;color: #d22c12;
          }
        }
      }
    }
  }
}

section.industri-jiipe-sec-1{
  .prelative.container{
    padding-top: 100px;
    .row{
      p.info{
        margin-top: 15px;
        font-size: 20px;font-weight: 400;color: #ee3124;font-family: @robot;
      }
      .side{
        a{
          p{
            display: inline;
            position: relative;font-size: 16px;color: #d22c12;font-weight: 400;font-family: @robot;
            top: 2px;padding-left: 10px;
          }
        }
      } 
      .title{
        margin-top: 40px;
        padding-bottom: 15px;
        p{
          font-size: 35px;font-weight: bold;font-family: @robot;color: #d22c12;max-width: 865px;line-height: 1.3em;
        }
      }
      .content{
        padding-bottom: 50px;
        p{
          font-size: 16px;font-weight: 400;font-family: @robot;color: #000000;
          max-width: 865px;
          margin-bottom: 0;
        }
      }
      .image{
        padding-bottom: 27px;
      }
      .row.artikel{
        img{
          padding-bottom: 25px;
        }
        p.judul{
          margin-bottom: 10px;
          font-size: 24px;color: #d52827;font-weight: 400;font-family: @robot;
        }
        p.sub-judul{
          margin-bottom: 20px;height: 50px;
          font-size: 14px;font-family: @robot;font-weight: bold;color: #000000;
        }
        p.content{
          padding-bottom: 0;margin-bottom: 0;height: 150px; overflow: hidden;
          font-size: 14px;color: #000000;font-family: @robot;font-weight: 400;
        }
        .lebih{
          padding-top: 30px;
          padding-bottom: 70px;
          a{
            p{
              font-size: 16px;color: #d52827;font-family: @robot;font-weight: bold;
              span{
                img{
                  padding-left: 25px;
                  padding-bottom: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}

section.industri_jippe1-sec-1{
  .prelative.container{
    padding-top: 100px;
    .row{
      p.info{
        margin-top: 15px;
        font-size: 20px;font-weight: 400;color: #ee3124;font-family: @robot;
      }
      .side{
        a{
          p{
            padding-top: 10px;
            display: inline;
            position: relative;font-size: 16px;color: #d22c12;font-weight: 400;font-family: @robot;
            top: 2px;padding-left: 10px;
          }
        }
      } 
      .judul{
        p{
          padding-top: 38px;
          margin-bottom: 0;
          padding-bottom: 15px;
          font-size: 35px;font-family: @robot;color: #ee3124;font-weight: bold;
          span{
            font-size: 20px;font-family: @robot;color: #2a2a2a;font-weight: 200;
          }
        }
      }
      .sub-judul{
        p{
          margin-bottom: 0;
          font-size: 17px;font-weight: bold;font-family: @robot;color: #000000;
        }
      }
      .content{
        padding-top: 25px;
        margin-bottom: 0;
        padding-bottom: 40px;
        p{
          font-size: 14px;font-weight: 400;font-family: @robot;color: #000000;max-width: 865px;
        }
      }
      .industry{
        p{
          margin-bottom: 0;padding-bottom: 20px;
          font-size: 14px;color: #000000;font-weight: 400;font-family: @robot;
        }
      }
      .choose-industry{
        p{
          margin-bottom: 0;
          padding-bottom: 30px;
          a{
            font-size: 24px;color: #8c8c8c;font-weight: 400;font-family: @robot;
          }
          a.active,
          a:focus,
          a:hover{
            color: #d52827; text-decoration: none;
          }
          span{
            padding: 0 15px;
            font-size: 24px;
          }
          span.isi{
            padding: 0;
          }
        }
      }
      .image{
        padding-bottom: 160px;
      }
    }
  }
}

section.industri_jippe1-sec-2{ 
  .prelative.container{ 
    padding-top: 100px; 
    .row{ 
      ul{
        list-style-image: url('../images/arrow-industry.png');padding-left: 15px;
        li{
          padding-top: 10px;
          font-size: 15px;font-family: @robot;font-weight: 400;color: #ffffff;
          padding-left: 15px;
        }
      }
      p.info{ 
        margin-top: 15px; 
        font-size: 20px;font-weight: 400;color: #ffffff;font-family: @robot; 
      } 
      .content{ 
        padding-top: 40px; 
        padding-bottom: 150px; 
        img{ 
 
        } 
        p{ 
          margin-top: 10px; 
          display: inline;position: relative;top: 2px;font-size: 15px;color: #ffffff;font-family: @robot;font-weight: 400;padding-left: 20px; 
        } 
      } 
    } 
  } 
} 
 
section.industri_jippe1-sec-3{ 
  .prelative.container{ 
    padding-top: 100px;  
    .row{ 
      ul{
        list-style-image: url('../images/arrow-blue.png');padding-left: 15px;
        li{
          span{
            font-weight: bold;
          }
          padding-top: 10px;
          font-size: 15px;
          font-family: @robot;
          font-weight: 400;
          color: #ffffff;
          padding-left: 15px; line-height: 1.3;
          padding-bottom: 0.4rem;
        }
      }
      p.info{ 
        margin-top: 15px; 
        font-size: 20px;font-weight: 400;color: #ffffff;font-family: @robot; 
      } 
      .logo{ 
        padding-top: 47px; 
      } 
      .title{ 
        padding-top: 25px;margin-bottom: 0; height: 90px;
        p{ 
          font-size: 22px;font-weight: bold;color: #ffffff;font-family: @robot; 
        } 
      } 
      .content{ 
        height: 100px;
        p{ 
          font-size: 15px;font-weight: 400;color: #ffffff;font-family: @robot;line-height: 1.2em; 
        } 
      } 
      .category{ 
        padding-bottom: 140px; 
        img{ 
           
        } 
        p{ 
          display: inline;position: relative;font-size: 15px;color: #ffffff;font-weight: bold;margin-left: 20px; 
        } 
        p.content{ 
          display: block;font-weight: 400;color: #ffffff;margin-left: 32px; 
        } 
      } 
    } 
  } 
} 
 
section.industri_jiipe1-sec-5{ 
  .prelative.container{ 
    // padding-top: 100px; 
    .row{ 
      ul{
        list-style-image: url('../images/sidearrowblack.png');padding-left: 15px;
        li{
          span{
            font-weight: bold;
          }
          // padding-top: 10px;
          font-size: 15px;font-family: @robot;font-weight: 400;color: #000;
          padding-left: 15px;
        }
      }
      p.info{ 
        margin-top: 15px; 
        font-size: 20px;font-weight: 400;color: #ee3124;font-family: @robot; 
      } 
      img{ 
        padding-top: 45px; 
      } 
      .judul{ 
        height: 170px;
        p{ 
          padding-top: 30px; 
          font-size: 22px;font-family: @robot;font-weight: 700;color: #ee3124;  
        } 
      } 
      .content{ 
        padding-bottom: 70px; 
        p{ 
          font-size: 15px;font-family: @robot;color: #000000;font-weight: 400; 
        } 
      } 
    } 
  } 
} 
 
section.karir-sec-1{ 
  .prelative.container{ 
    padding-top: 100px; 
    .row{ 
      p.info{ 
        margin-top: 15px; 
        font-size: 20px;font-weight: 400;color: #d52827;font-family: @robot; 
      } 
      .title{ 
        h2{ 
          display: block; margin: 0; padding: 0;
          margin-bottom: 0;padding-bottom: 30px; 
          font-size: 35px;font-weight: bold;font-family: @robot;color: #d22c12;max-width: 865px;line-height: 1.1em; 
        } 
        h5{
          display: block; margin: 0; padding: 0;
          font-size: 17px;color: #000000;font-weight: bold;font-family: @robot;max-width: 865px; 
          line-height: 1.4;
        }
        // padding-bottom: 70px;
      } 
      .subtitle{ 
        padding-bottom: 70px; 
        p{ 
          font-size: 17px;color: #000000;font-weight: bold;font-family: @robot;max-width: 865px; 
 
        } 
      } 
      .title-loker{ 
        margin-bottom: 0;padding-bottom: 10px; 
        font-size: 35px;font-weight: bold;font-family: @robot;color: #d22c12;max-width: 865px;line-height: 1.1em; 
      } 
    } 
    .row.lowongan{ 
      max-width: 865px; 
      .lowongan-title{ 
        p{ 
          margin-bottom: 0; 
          font-size: 16px;font-family: @robot;font-weight: bold;color: #d52827; 
        } 
      } 
      .sortir{ 
        form{ 
          label{ 
          color: #424242;font-size: 14px;font-family: @robot;font-weight: 400;padding-right: 15px; 
          } 
        } 
        p{ 
          color: #424242;font-size: 14px;font-family: @robot;font-weight: 400; 
        } 
        select{ 
          display: inline;position: relative;padding-bottom: 10px; 
          border-radius: 0px;
        } 
      } 
    } 
    .row.lowongan-content{ 
      max-width: 865px; 
      .job{ 
        p{ 
          display: inline-block;position: relative;top: 2px;padding-left: 15px; 
          font-size: 14px;font-weight: bold;font-family: @robot;color: #000000; 
        } 
      } 
      .location{ 
        p{ 
          display: inline-block;position: relative;top: 2px;padding-left: 22px; 
          font-size: 14px;font-weight: bold;font-family: @robot;color: #000000; 
        } 
      } 
      .salary{ 
        p{ 
          display: inline-block;position: relative;top: 2px;padding-left: 15px; 
          font-size: 14px;font-weight: bold;font-family: @robot;color: #000000; 
        } 
      } 
      .min-pend{ 
        font-size: 14px;font-family: @robot;color: #000000; 
        p.title{ 
          font-weight: bold; 
          margin-bottom: 0; 
        } 
        p.content{ 
          font-weight: 400; 
        } 
      } 
      .min-peng{ 
        font-size: 14px;font-family: @robot;color: #000000; 
        p.title{ 
          font-weight: bold; 
          margin-bottom: 0; 
        } 
        p.content{ 
          font-weight: 400; 
        } 
      } 
      .deskripsi{ 
        font-size: 14px;font-family: @robot;color: #000000; 
        p.title{ 
          font-weight: bold; 
          margin-bottom: 0; 
        } 
        p.content{ 
          font-weight: 400; 
        } 
      } 
      .lebih{ 
        a{ 
          p{ 
            font-size: 16px;color: #d52827;font-family: @robot;font-weight: bold; 
            span{ 
              img{ 
                position: relative;padding-left: 15px;top: -2px; 
              } 
            } 
          } 
        } 
      } 
    } 
  } 
} 
 
hr.karir{ 
  margin-top: 15px; 
  margin-bottom: 0; 
  color: #cccccc; 
  padding-bottom: 50px;  
} 
hr.karir2{ 
  margin-top: 40px; 
  margin-bottom: 0; 
  color: #cccccc; 
  padding-bottom: 50px;  
} 


.contacts_tx_info{
  .bx_items{
    .sn_icon{
      i.fa{
        color: #d52827; font-size: 18px;
      }
    }
    .sn_text{
      span{
        font-size: 16px; font-weight: 700; color: #424242;
      }
      p{
        font-size: 14px; font-weight: 400; color: #424242;
        line-height: 1.6;
        a{
          font-size: 14px; font-weight: 500; color: #424242; text-decoration: none;
        }
        a:hover,
        a:focus{
          text-decoration: none; color: #000;
        }
        a.clicks_map{
          font-weight: 700; text-decoration: underline;
        }
      }
    }
  }

  clear: both;
}

.outers_box_enquire_contact{
  span.top{
    font-size: 20px; font-weight: 700; color: #d22c12;
  }
  .boxs{
    background-color: #d22c12;
    padding: 3rem 3.5rem;
    min-height: 420px; height: auto;
    width: 100%;
    position: relative;
    // overflow: hidden;
    .inners{
      position: relative;
      z-index: 5;
    }
  }
  .boxs:after{
    display: inline-block; content: "";
    position: absolute;
    width: 100%; height: 100%;
    top: 0px; right: -1000px;
    background-color: #d22c12;
    z-index: 1;
  }
  clear: both;
}
.box-form.tl-contact-form{
  background-color: transparent;
  text-align: left;
  .mw702{
    padding: 0 2em;
  }
    form{
      .form-check{
        label{
          font-size: 14px; font-weight: 400; color: #fff;
        }
      }
      .form-group{ 
        margin-bottom: 0px;
        label{
          font-size:16px; 
          font-weight:400; 
          color:#fff; 
          margin-bottom: 0rem;
          line-height: 1;
          text-align: left;
        }
        input{
          border:0px;
          background: none; 
          background-color: transparent;
          border-bottom: 0px;
          border-radius: 0px;
          text-shadow:none; box-shadow: none;
          border:0px; color: #fff;
          border-bottom: 1px solid #ccc;
          font-size: 13px; font-weight: 400;
        }
        textarea{
            border-radius: 0px;
            margin: 0;
            background: none;
            background-color: transparent;
            // border:0px;
            border: 1px solid #ccc;
            box-shadow: none;
            text-align: left;
            color: #fff;
        }
      }

      button.btns-submit-bt{
        background: none; border:0px; border-radius: 0px; box-shadow: none; padding:0;

        background: url('../images/backsnl_btn_contactsubm.png') no-repeat;
        width: 148px; height: 22px;
        min-width: inherit;
        letter-spacing: 0px;
      }
      button.btns-submit-bt:hover{
        opacity: 0.9;
      }
      .mb-0{
        margin-bottom: 0 !important;
      }
      // end box form contact frm
    }
  }


// ---------------- customs footer --------------------
section.home-sec-4.slc_white_footjiipe{
  margin: 0;
  span.title-pdf{
    font-family: @robot;
    color: #d52827;
    font-size: 35px;
    font-weight: 700;
    line-height: 1.2em;
    font-size: 18px !important;
  }

}

.block-breadcrumbs{
  padding: 0.8rem 0;
  background-color: #f6f6f6;
  nav.t-breadcrumb{
    background: none; background-color: transparent; border: 0px;
    ol.breadcrumb{
      padding: 0; margin: 0;
      background: none; background-color: transparent; border: 0px;
      li.breadcrumb-item{
        font-family: @roboto;
        font-size: 12px; font-weight: 400;
        color: #676767;
        a{
          font-family: @roboto;
          font-size: 12px; font-weight: 400;
          color: #676767;
        }
      }
      li.breadcrumb-item.active{
        color: #000;
      }
    }
    .breadcrumb-item + .breadcrumb-item::before {
        color: #8a8a8a;
        content: ">";
    }
  }
}

#back-top {
    color: #FFF;
    background: #FFF;
    font-size: 20px;
    line-height: 100%;
    display: inline-block;
    position: fixed;
    z-index: 500;
    bottom: 0;
    right: 5px;
    width: 35px;
    height: 35px;
    text-align: center;
    top: inherit!important;
    -webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,.15);
    -moz-box-shadow: 0 0 4px 0 rgba(0,0,0,.15);
    box-shadow: 0 0 4px 0 rgba(0,0,0,.15);
    padding: 0.3rem;
    a{
      display: block;
    }
    i.fa{
      color: #d2281f;
    }
}

.header-affixs.affix-top{ top: -1000px; position: fixed; visibility: collapse; }
.header-affixs.affix{ top: 0px; left: 0px; position: fixed; visibility: initial; }
.header-affixs{
    // background-color: rgba(0, 146, 223, 0.95);
    background-color: rgba(255, 255, 255, 0.95);
    width: 100%;
    z-index: 1000;
    height: 90px;
    border-bottom: 3px solid #e2231a;
    z-index: 10000;
    .lgo_web_headrs_wb{
      padding-top: 0.5rem;
      a{
        display: block;
        max-width: 217px;
      }
    }
}
.menu-taffix{
  padding-top: 1.1rem;
}
.menu-taffix ul{ margin: 0; padding: 0px; }
.menu-taffix ul li{ padding: 0px; padding: 0 8px; }
.menu-taffix ul li a{ font-size: 16px; font-weight: 400; color: #e2231a; text-decoration: none; text-transform: uppercase; }
.menu-taffix ul li.active a,
.menu-taffix ul li a:hover{ text-decoration: none; color: #CE180F; }
.menu-taffix ul li:last-child{
  padding-right: 0;
}



@import 'kawasan_style.less';

@import 'media.styles.less';

section.artikel-sec-1{
  .prelative.container{
    padding-top: 105px;
    .row.artikel-bawah{
      padding-top: 0;
      // padding-bottom: 130px;
      .tanggal{
        padding-bottom: 65px;
        p{
          font-size: 15px;font-weight: 400;font-family: @robot;color: #000000;
        }
      }
      .judul{
        // padding-top: 45px; padding-bottom: 35px;
        padding-top: 30px; padding-bottom: 30px;
        p{
          margin-bottom: 0;
          line-height: 1.3;
          font-size: 20px;font-weight: 500; color: #d52827;font-family: @robot;
        }
      }
      .content-bawah{
        padding-bottom: 30px;
        p{
          margin-bottom: 0;font-size: 15px;color: #7a7a7a;font-family: @robot;font-weight: 400;
        }
      }
      .lebih{
        padding-bottom: 35px;
        a{
          p{
            font-size: 18px;color: #000000;font-family: @robot;font-weight: 400;
            img{
              padding-left: 18px;
              position: relative;
              top: 23px;
              display: inline-block;
            }
          }
        }
      }
    }
    .row{
      // max-width: 865px;
      .lihat-artikel{
        padding-top: 80px;
        padding-bottom: 50px;
        a{
          text-decoration: none;
          p{
            margin-bottom: 0;
            font-size: 22px;font-weight: 600;font-family: @robot;color: #d52827;
          }
        }
      }
      .content{
        max-width: 865px;
        padding-top: 35px;
        p{
          font-size: 16px;font-family: @robot;font-weight: 400;color: #424242;
        }
      }
      img.artikel{
        margin-top: 0;padding-top: 10px;
      }
      .judul{
        padding-top: 15px;
        max-width: 865px;
        p{
          color: #d22c12;font-size: 35px;font-family: @robot;font-weight: bold;
        }
      }
      img{
        position: relative;
        display: block;
        margin-top: -50px;  
        // padding-top: 65px;

      }
      .side{
        padding-top: 50px;
        a{
          p{
            display: inline;
            position: relative;font-size: 16px;color: #d22c12;font-weight: 400;font-family: @robot;
            top: -17px;padding-left: 25px;
          }
        }
      } 
      p.info{
        padding-top: 25px;
        font-family: @robot;color: #d52827;font-size: 20px;font-weight: 400;    
      }
      p.title-pdf{
        font-family: @robot;color: #d52827;font-size: 35px;font-weight: bold; line-height: 1.2em;  
      }
      .download{
        padding-top: 60px;padding-bottom: 100px;
        img{
          position: relative;
          display: inline-block;
        }
        span{
          a{
            p{
              padding-left: 20px;font-size: 16px;color: #000000;font-family: @robot;font-weight: 400;
              position: relative;
              top: -22px;
              display: inline-block;
            }
          }
        }
      }
    }
    .row.tanggal{
      max-width: 865px;
      .tanggal{
        p{
          font-size: 15px;font-weight: 400;color: #000000;font-family: @robot;
        }
      }
      .back{
        img.back-img{
          padding-top: 0;
          margin-top: -20px;
          position: relative;
          top: 18px;
          left: 80px;
        }
        text-align: right;
        span{
          // text-align: right;
        }
        a{
          color: #000;
        }
      }
    }
  }
}
hr.artikel{
  // padding-top: 20px;
  margin-top: 0px;
  margin-bottom: 0;
  color: #cccccc;
  padding-bottom: 40px; 
}
hr.artikel2{
  padding-top: 50px;
  margin-top: 0px;
  margin-bottom: 0;
  color: #cccccc;
  padding-bottom: 40px; 
}


.customs_modfade{
  .modal-content{
    p{
      font-size: 12px;
    }
  }
  .modal-header{
    h5.modal-title{
      font-size: 1.1rem; font-weight: 700; color: #000;
    }
  }

  form{
    .form-group{
      margin-bottom: 0.8rem;
      label{
        font-size: 13px; font-weight: 700;
      }
      input.form-control{
        border-radius: 0;
        padding-top: 0.2rem; padding-bottom: 0.2rem;
      }
    }
    button{
      padding: 0;
      border: 0;
      border-radius: 0;
      width: 49px;
      height: 22px;
      background: url(../images/arrows_chev_shapewhite.png) no-repeat;
      position: relative;
      top: 0px;
    }
    button:hover,
    button:focus{
      background: url(../images/arrows_chev_shapewhite.png) no-repeat;
      background-color: transparent; 
      opacity: 0.9;
    }
    margin-bottom: 0;
  }
  .modal-footer{
    background-color: #d52827;
  }
    clear: both;
}